.accessibility-analysis-indicator {
    margin: auto;
    display: flex;
    gap: 1rem;
    position: relative;
    height: fit-content;
    padding: 1rem;
    background-color: map-get($colors,white);
    border-radius: 1rem;
    box-shadow: map-get($colors,switchBlackBoxShadow) inset 0.5rem 0.5rem 0.5rem;
}
.accessibility-analysis-indicator::before {
    content: "";
    position: absolute;
    z-index:-1;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 1rem;
    box-shadow: 0 0 2rem 1rem map-get($colors,darkBackground);
    transform: scale(0.95,0.9);
}
.accessibility-analysis-indicator.on:hover::before {
    transform: scale(1);
    animation: onHoverBeforeButton 1400ms ease-in-out infinite;
}
.accessibility-analysis-indicator:hover {
    animation: onHoverButton 1400ms ease-in-out infinite;
}
.accessibility-analysis-toggle-button {
    position: relative;
    margin: auto;
    padding: 1rem;
    font-size: 1.4rem;
    font-weight: bold;
    background-color: map-get($colors,darkBackground);
    border-radius: 1rem;
    border: none;
}
.accessibility-analysis-indicator.on .accessibility-analysis-toggle-button {
    cursor: pointer;
}
.accessibility-analysis-toggle-button_on {
    color: map-get($colors,green);
    text-shadow: 0px 2px 4px map-get($colors,green);
}
.accessibility-analysis-toggle-button_off {
    color: map-get($colors,red);
    text-shadow: 0px 2px 4px map-get($colors,red);
    opacity: 1;
}
.accessibility-analysis-indicator.animations .accessibility-analysis-toggle-button_off {
    animation: desactivatedTextAppear 400ms ease-in-out forwards;
}
.accessibility-analysis-indicator.on .accessibility-analysis-toggle-button_off {
    display: none;
}
.accessibility-analysis-indicator.off .accessibility-analysis-toggle-button_on {
    display: none;
}
.accessibility-analysis-help-button {
    padding: 0 1rem;
    font-size: 1.8rem;
    font-weight: bold;
    color: map-get($colors,blue);
    background-color: map-get($colors,darkBackground);
    border: 0.2rem map-get($colors,white) solid;
    border-radius: 50%;
    text-shadow: 0 0.2rem 0.4rem map-get($colors,blue);
    box-shadow: 0 0 1rem map-get($colors,darkBackground);
    cursor: pointer;
    &:hover span {
        display: inline-block;
        transform-origin: 50% 100%;
        animation: onHoverHelpButton 1s ease-in-out infinite;
    }
}

@keyframes onHoverBeforeButton {
    0% {
        transform: scale(0.95,0.9);
    }
    50% {
        transform: scale(1);
    }
    100% {
        transform: scale(0.95,0.9);
    }
}
@keyframes desactivatedTextAppear {
    from {
        opacity: 0;
    }
}
@keyframes onHoverHelpButton {
    5% {
        transform: scaleY(0.9);
    }
    40% {
        transform: scaleY(0.6);
    }
    70% {
        transform: scaleY(1) translateY(-20%) ;
    }
    100% {
        transform: scaleY(1) translateY(0) ;
    }
}
