.accessibility-analysis-indicator {
    margin: auto;
    display: flex;
    gap: 1rem;
    position: relative;
    height: fit-content;
    padding: 0.4rem;
    background-color: map-get($colors,white);
    border-radius: 1rem;
    &::before {
        content: "";
        position: absolute;
        z-index:-1;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        border-radius: 1rem;
        transform: scale(0.95,0.9);
    }
    &.on .accessibility-analysis-toggle-button {
        cursor: pointer;
    }
}

.accessibility-analysis-toggle-button {
    position: relative;
    margin: auto;
    padding: 1rem;
    font-size: 1.4rem;
    font-weight: bold;
    background-color: map-get($colors,darkBackground);
    border-radius: 1rem;
    border: none;
    &_on {
        color: map-get($colors,green);
    }
    &_off {
        color: map-get($colors,red);
        opacity: 1;
    }
}

.accessibility-analysis-help-button {
    padding: 0 1rem;
    font-size: 1.8rem;
    font-weight: bold;
    color: map-get($colors,blue);
    background-color: map-get($colors,darkBackground);
    border: 0.2rem map-get($colors,white) solid;
    border-radius: 50%;
    cursor: pointer;
}

@keyframes onHoverBeforeButton {
    0% {
        transform: scale(0.95,0.9);
    }
    50% {
        transform: scale(1);
    }
    100% {
        transform: scale(0.95,0.9);
    }
}
@keyframes desactivatedTextAppear {
    from {
        opacity: 0;
    }
}
@keyframes onHoverHelpButton {
    5% {
        transform: scaleY(0.9);
    }
    40% {
        transform: scaleY(0.6);
    }
    70% {
        transform: scaleY(1) translateY(-20%) ;
    }
    100% {
        transform: scaleY(1) translateY(0) ;
    }
}

body.animations {
    & .accessibility-analysis-indicator {
        &:hover {
            animation: onHoverButton 1400ms ease-in-out infinite;
        }
        &.on:hover::before {
            transform: scale(1);
            animation: onHoverBeforeButton 1400ms ease-in-out infinite;
        }
        & .accessibility-analysis-toggle-button_off {
            animation: desactivatedTextAppear 400ms ease-in-out forwards;
        }
        & .accessibility-analysis-help-button:hover span {
            display: inline-block;
            transform-origin: 50% 100%;
            animation: onHoverHelpButton 1s ease-in-out infinite;
        }
    }
}
body:not(.contrast) {
    & .accessibility-analysis-indicator {
        box-shadow: map-get($colors,switchBlackBoxShadow) inset 0.5rem 0.5rem 0.5rem;
        &::before {
            box-shadow: 0 0 2rem 1rem map-get($colors,darkBackground);
        }
    }
    & .accessibility-analysis-toggle-button {
        &_on {
            text-shadow: 0px 2px 4px map-get($colors,green);
        }
        &_off {
            text-shadow: 0px 2px 4px map-get($colors,red);
        }
    }
    & .accessibility-analysis-help-button {
        text-shadow: 0 0.2rem 0.4rem map-get($colors,blue);
        box-shadow: 0 0 1rem map-get($colors,darkBackground);
    }
}
body:not(.contrast).purple {
    & .accessibility-analysis-help-button {
        color: map-get($colors,purple);
        text-shadow: 0 0.2rem 0.4rem map-get($colors,purple);
    }
}
body.contrast {
    & .accessibility-analysis-indicator {
        border: solid 0.4rem map-get($colors,darkBackground);
    }
    & .accessibility-analysis-help-button {
        border-color: map-get($colors,darkBackground);
    }
}
