body.home {
    .accessibility-bot {
        @include tablette {
            top: 74%;
            left: 10%;
        }
        @include desktop {
            top: 62%;
            left: 19%;
        }
    }
}
body:not(.home) {
    .accessibility-bot {
            top: 15%;
            right: 25px;
    }
}

.accessibility-bot {
    display: none;
    @include tablette {
        display: block;
    }
    position: absolute;
    z-index: 1;
    height: 80px;
    width: 80px;
    overflow: visible;
    opacity: 1;
    &_body {
        position: absolute;
        z-index: 1;
        height: 100%;
        width: 100%;
        background-color: #fff;
        border-radius: 62% 38% 62% 38% / 40% 30% 70% 60% ;
        box-shadow: rgba(0,0,0,0.2) inset 5px 5px 5px, 0 0 5px rgba(0,0,0,0.3);
        cursor: pointer;
        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background-color: map-get($colors,blue);
            border-radius: 62% 38% 62% 38% / 40% 30% 70% 60% ;
            opacity: 0;
        }
    }
    &_eyes {
        position: absolute;
        z-index: 1;
        height: 10px;
        width: 10px;
        background-color: map-get($colors,blue);
        border-radius: 50%;
        box-shadow: map-get($colors,blue) 0 0 2px 1px;
    }
    &_left-eye {
        top: 20px;
        left: 28px;
    }
    &_right-eye {
        top: 20px;
        left: 60px;
    }
    &_mouth {
        position: absolute;
        left: 40px;
        width: 20px;
        height: 30px;
        border-radius: 50%;
        &--happy {
            display: none;
            bottom: 26px;
            border-bottom: solid 6px map-get($colors,blue);
        }
        &--sad {
            display: none;
            bottom: 10px;
            border-top: solid 6px map-get($colors,blue);
        }
    }
    &_shadow {
        position: absolute;
        top: 40%;
        left: 40%;
        height: 20px;
        width: 20px;
        background-color: transparent;
        border-radius: 50%;
        transform: translate(-50%,-50%);
        box-shadow: map-get($colors,blue) 0 0 5px, map-get($colors,blue) inset 0 0 5px;
    }
    &_shadow-appear-effect {
        position: absolute;
        z-index: 1;
        height: 0;
        width: 100%;
        background-color: hsl(175,85%,55%);
        box-shadow: 0 0 4rem 2rem map-get($colors,blue);
        transform-origin: 50% 0;
        opacity: 0;
    }
    &_comment {
        position: absolute;
        top: -90px;
        left: 120px;
        transition: ease-in-out 200ms;
        padding: 1rem;
        width: 30rem;
        max-width: 300px;
        font-weight: bold;
        background-color: map-get($colors,dark);
        border: solid 0.2rem map-get($colors,white);
        border-radius: 1rem;
        box-shadow: 0 0 5px map-get($colors,switchBlackBoxShadow);
    }
    &.compliant {
        & .accessibility-bot_mouth--happy {
            display: block;
        }
        & .accessibility-bot_shadow {
            box-shadow: map-get($colors,green) 0 0 5px, map-get($colors,green) inset 0 0 5px;
            animation: AccessibilityBotShadow ease-out 1000ms infinite;
        }
        & .accessibility-bot_comment {
            color: map-get($colors,green);
        }
    }
    &.not-compliant {
        & .accessibility-bot_mouth--sad {
            display: block;
        }
        & .accessibility-bot_shadow {
            box-shadow: map-get($colors,red) 0 0 5px, map-get($colors,red) inset 0 0 5px;
            animation: AccessibilityBotShadow ease-out 1000ms infinite;
        }
        & .accessibility-bot_comment {
            color: map-get($colors, red);
        }
    }
}

// @media screen and (max-width: 1200px) {
//     .accessibility-bot {
//         left: 900px;
//         top: 70px;
//     }
// }

body.animations {
    & .accessibility-bot {
        transition: ease-in-out 500ms;
        &:not(.accessibility-bot_waiting) {
            animation: AccessibilityBotAppear 2s 600ms ease-in-out backwards;
        }
        &_waiting {
            animation: AccessibilityBotWaiting ease-in-out 4000ms infinite;
            & .accessibility-bot_left-eye {
                animation: AccessibilityBotWaitingEyes 5000ms infinite;
            }
            & .accessibility-bot_right-eye {
                animation: AccessibilityBotWaitingEyes 5000ms infinite;
            }
        }
        &_hover {
            animation: AccessibilityBotHover ease 1000ms infinite;
            & .accessibility-bot_shadow {
                animation: AccessibilityBotShadow ease-out 1000ms infinite;
            }
        }
        &_hover .accessibility-bot_body {
            animation: AccessibilityBotHoverBody ease 1000ms infinite;
        }
        &_hover .accessibility-bot_left-eye {
            animation: AccessibilityBotHoverLeftEye ease 1000ms infinite;
        }
        &_hover .accessibility-bot_right-eye {
            animation: AccessibilityBotHoverRightEye ease 1000ms infinite;
        }
        &_shadow-appear-effect {
            animation: AccessibilityBotShadowAppearEffect 2s 600ms ease-in-out forwards;
        }
        &_click {
            animation: AccessibilityBotClick ease 2000ms;
            & .accessibility-bot_body::after {
                animation: AccessibilityBotClickBody ease 2000ms;
            }
        }
    }
}

body:not(.contrast) {
    &.purple {
        & .accessibility-bot {
            &_body::after {
                background-color: map-get($colors,purple);
            }
            &_eyes {
                background-color: map-get($colors,purple);
                box-shadow: map-get($colors,purple) 0 0 2px 1px;
            }
            &_mouth--happy {
                border-bottom: solid 6px map-get($colors,purple);
            }
            &_mouth--sad {
                border-top: solid 6px map-get($colors,purple);
            }
            &_shadow--default {
                box-shadow: map-get($colors,purple) 0 0 5px, map-get($colors,purple) inset 0 0 5px;
            }
            &_shadow-appear-effect {
                box-shadow: 0 0 4rem 2rem map-get($colors,purple);
            }
        }
    }
}

@keyframes AccessibilityBotAppear {
    0% {
        opacity: 0;
    }
    85% {
        filter: blur(2rem);
    }
    100% {
        filter: blur(0);
    }
}
@keyframes AccessibilityBotShadowAppearEffect {
    0% {
        opacity: 1;
    }
    85% {
        transform: translateY(100px);
    }
    96% {
        opacity: 1;
    }
    100% {
        transform: translateY(-10px);
    }
}

@keyframes AccessibilityBotWaiting {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(0);
    }
}
@keyframes AccessibilityBotWaitingEyes {
    0% {
        transform: scaleY(1);
    }
    94% {
        transform: scaleY(1);
    }
    97% {
        transform: scaleY(0);
    }
    100% {
        transform: scaleY(1);
    }
}
@keyframes AccessibilityBotHover {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-30px);
    }
    100% {
        transform: translateY(0);
    }
}
@keyframes AccessibilityBotHoverBody {
    0% {
        transform: scaleY(0.8);
    }
    50% {
        transform: scaleY(1);
    }
    100% {
        transform: scaleY(0.8);
    }
}
@keyframes AccessibilityBotHoverLeftEye {
    0% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-10px);
    }
    80% {
        transform: translateY(0);
    }
}
@keyframes AccessibilityBotHoverRightEye {
    20% {
        transform: translateY(0);
    }
    60% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes AccessibilityBotShadow {
    60% {
        transform: scale(1);
        opacity: 0.2;
    }
    90% {
        opacity: 0.8
    }
    100% {
        transform: scale(8);
        opacity: 0.2;
    }
}
@keyframes AccessibilityBotClick {
    0% {
        transform: translate3d(0,0,0);
    }
    60% {
        transform: perspective(500px) translate3d(0,0,150px) rotate(-15deg);
    }
    70% {
        transform: perspective(500px) translate3d(0,0,150px) rotate(15deg);
    }
    75% {
        transform: perspective(500px) translate3d(0,0,150px) rotate(-15deg);
    }
    80% {
        transform: perspective(500px) translate3d(0,0,150px);
    }
    100% {
        transform: perspective(500px) translate3d(0,0,0);
    }
}
@keyframes AccessibilityBotClickBody {
    60% {
        opacity: 0.5;
    }
    80% {
        opacity: 0.5;
    }
    100% {
        opacity: 0;
    }
}