.accessibility-settings-button {
    position: relative;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    height: fit-content;
    color: map-get($colors,white);
    font-weight: bold;
    margin: 0 0.4rem;
    padding: 0.5rem 1rem;
    background-color: map-get($colors,darkBackground);
    border-radius: 1rem;
    border: solid 0.4rem map-get($colors,white);
    cursor: pointer;
    &::before {
        content: "";
        position: absolute;
        z-index:-1;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: map-get($colors,white);
        border-radius: 0 1rem 1rem 0;
        transform: scale(1.3,1.5);
    }
    &:hover {
        color: map-get($colors,darkBackground);
        background-color: map-get($colors,white);
        border-color: map-get($colors,darkBackground);
        & .settings-svg {
            stroke: map-get($colors,darkBackground);
            & path {
                fill: map-get($colors,darkBackground);
            }
            & circle {
                fill: none;
            }
            & .st2 {
                fill: map-get($colors,white);
            }
        }
    }
    &:focus {
        color: map-get($colors,darkBackground);
        background-color: map-get($colors,white);
        border-color: map-get($colors,darkBackground);
        & .settings-svg {
            & .settings-svg {
                stroke: map-get($colors,darkBackground);
                & path {
                    fill: map-get($colors,darkBackground);
                }
                & circle {
                    fill: none;
                }
                & .st2 {
                    fill: map-get($colors,white);
                }
            }
        }
    }
}

.settings-svg {
    height: 2rem;
    width: 2rem;
    stroke: map-get($colors,white);
    & path {
        fill: map-get($colors,white);
    }
    & circle {
        stroke-width: 1.5rem;
        fill: none;
    }
    & .st2 {
        fill: map-get($colors,darkBackground);
    }
}

body.animations {
    & .accessibility-settings-button {
        transition: 200ms ease-in-out;
        &::after {
            transition: 200ms ease-in-out;
        }
        &:hover .settings-svg {
            transition: 400ms ease-in-out;
            transform: rotate(360deg);
        }
    }
}


