
.basic-button-container {
    position: relative;
    z-index: 0;
    width: fit-content;
    &.disabled {
        opacity: 0.6;
    }
}
.basic-button {
    position: relative;
    padding: 1rem;
    font-weight: 600;
    background-color: map-get($colors,blue);
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    &[aria-disabled='true'] {
        cursor: default;
    }
    &_text {
        position: relative;
        z-index: 1;
    }
    &[aria-disabled='false']:active {
        transform: translate(0.2rem,0.2rem);
    }
    &:not([aria-disabled]):active {
        transform: translate(0.2rem,0.2rem);
    }
    &-shadow {
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 1rem;
        box-shadow: map-get($colors,white) 0.2rem 0.2rem 0.2rem 0.1rem;
    }
    &[aria-disabled='false']:active + .basic-button-shadow {
        transform: scale(0.8);
    }
    &:not([aria-disabled]):active + .basic-button-shadow {
        transform: scale(0.8);
    }
}
.basic-button-container--on-white-background {
    & .basic-button-shadow {
        box-shadow: map-get($colors,darkBackground) 0.2rem 0.2rem 0.2rem 0.1rem;
    }
}

body.contrast .basic-button {
    border: solid 0.4rem map-get($colors,white);
    &-shadow {
        transform: scale(0);
    }
    &::after {
        content: "";
        position: absolute;
        z-index: 0;
        top: -0.4rem;
        left: -0.4rem;
        width: 100%;
        height: 100%;
        background-color: map-get($colors,white);
        border: solid 0.4rem map-get($colors,blue);
        border-radius: 1rem;
        opacity: 0;
    }
    &:not([aria-disabled]):hover::after {
        opacity: 1;
    }
    &[aria-disabled="false"]:hover::after {
        opacity: 1;
    }
    &:not([aria-disabled]):focus::after {
        opacity: 1;
    }
    &[aria-disabled="false"]:focus::after {
        opacity: 1;
    }
}
body.contrast .basic-button-container--on-white-background .basic-button {
    border: solid 0.4rem map-get($colors,blue);

}

body.purple .basic-button {
    background-color: map-get($colors,purple);
}

body.animations {
    & .basic-button {
        transition: 200ms ease-in-out;
    }
    & .basic-button-shadow {
        transition: 100ms ease-in-out;
    }
    & .basic-button::after {
        transition: 200ms ease-in-out;
    }
}

