.carousel_button {
    position: absolute;
    top: 50%;
    width: fit-content;
    transform: translateY(-50%);
    &_svg {
        height: 2rem;
        width: 2rem;
        fill: map-get($colors,darkBackground);
    }
    &--previous {
        left: -8rem;
        & .carousel_button_svg {
            transform: rotate(180deg);
        }
    }
    &--next {
        right: -8rem;
    }
}

