.cv_skill-container {
    position: relative;
}
.cv_skill {
    position: relative;
    padding: 0.5rem 1rem;
    background-color: map-get($colors,blueSkill);
    border: solid 0.2rem map-get($colors,blueSkill);
    border-radius: 1rem;
    font-weight: bold;
    cursor: pointer;
    &::before {
        content: "";
        display: block;
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        box-shadow: 0 0 0.5rem map-get($colors,dark), inset 0 0 0.5rem map-get($colors,dark);
        border-radius: 1rem;
    }
}
.cv_skill:hover, .basic-component:focus, .basic-component:active {
    &::before {
        transform: scale(0.5);
    }
}

body.contrast {
    & .cv_skill {
        border-color: map-get($colors,darkBackground);
    }
}
body:not(.contrast) {
    &.purple {
        & .cv_skill {
            border-color: map-get($colors,purpleSkill);
            background-color: map-get($colors,purpleSkill);
        }
    }
}