.environnement-toggle-button {
    position: relative;
    padding: 1rem;
    height: fit-content;
    font-weight: 600;
    text-transform: uppercase;
    color: map-get($colors,blue);
    background-color: map-get($colors,darkBackground);
    border-radius: 1rem;
    border: solid 0.2rem map-get($colors,white);
    cursor: pointer;
    &_overflow-container {
        position: absolute;
        top: 0;
        left: 0;
        padding: 1rem;
        overflow: hidden;
    }
    &_text-container {
        position: absolute;
        top: 1rem;
        left: 10%;
        width: 23rem;
        display: flex;
        flex-direction: row;
        gap: 1.5rem;
        transition: 400ms ease-in-out;
    }
    &_invisible-text {
        opacity: 0;
    }
    &::before {
        content: "";
        position: absolute;
        z-index:-1;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        border-radius: 1rem;
        box-shadow: 0 0 2rem 1rem map-get($colors,darkBackground);
        transform: scale(0.9);
    }
}

.environnement-toggle-button.recruiter .environnement-toggle-button_text-container {
    transform: translateX(0);
}
.environnement-toggle-button.client .environnement-toggle-button_text-container {
    transform: translateX(-43%);
}

@keyframes onHoverBeforeButton {
    0% {
        transform: scale(0.9);
    }
    50% {
        transform: scale(1);
    }
    100% {
        transform: scale(0.9);
    }
}

body:not(.contrast) {
    & .environnement-toggle-button {
        text-shadow: 0px 2px 4px map-get($colors,blue);
    }
    &.purple {
        & .environnement-toggle-button {
            color: map-get($colors,purple);
            text-shadow: 0px 2px 4px map-get($colors,purple);
        }
    }
}
body.contrast .environnement-toggle-button {
    border-color: map-get($colors,darkBackground);
}

body.animations {
    & .environnement-toggle-button:hover::before {
        animation: onHoverBeforeButton 1400ms ease-in-out infinite;
    }
}