.language-select {
    position: relative;
    font-size: 1.6rem;
    font-weight: bold;
    color: map-get($colors,blue);
    cursor: pointer;
    &::before {
        content: "";
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        border-radius: 1rem;
        box-shadow: 0 0 2rem 1rem map-get($colors,darkBackground);
        transform: scale(0.9);
    }
    &_top {
        padding: 0.5rem 0.5rem 0 0.5rem;
        background-color: map-get($colors,darkBackground);
        border-radius: 1rem 1rem 0 0;
        border: solid map-get($colors,white); 
        border-width: 0.2rem 0.2rem 0 0.2rem;
        & span {
            display: none;
            padding: 0.5rem;
            opacity: 1;
        }
        &.fr .language-select_top_fr {
            display: inline-block;
        }
        &.en .language-select_top_en {
            display: inline-block;
        }
    }
    &_center {
        height: 0;
        background-color: map-get($colors,darkBackground);
        border: solid #fff; 
        border-width: 0 0.2rem;
        &.fr .language-select_center_fr {
            display: inline-block;
        }
        &.en .language-select_center_en {
            display: inline-block;
        }
        & span {
            display: none;
            position: relative;
            z-index: 1;
            opacity: 0;
            margin: 0.5rem;
            padding: 0.3rem 0.5rem;
            &:hover {
                color: map-get($colors,darkBackground);
                &::before {
                    opacity: 1;
                }
            }
            &::before {
                content: "";
                position: absolute;
                z-index: -1;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                background-color: map-get($colors,blue);
                border-radius: 0.5rem;
                opacity: 0;
            }
        }
    }
    &_bottom {
        height: 1rem;
        background-color: map-get($colors,darkBackground);
        border-radius: 0 0 1rem 1rem;
        border: solid map-get($colors,white); 
        border-width: 0 0.2rem 0.2rem 0.2rem;
    }
    &[aria-expanded='true'] .language-select_center {
        height: 2.6rem;
        & span {
            opacity: 1;
        }
    }
    &[aria-expanded='false'] .language-select_center {
        height: 0rem;
    }
    &.compliant::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: transparent;
        border-radius: 1rem;
        box-shadow: 0 0 0.2rem 0.6rem map-get($colors,green);
        transform: scale(1);
    }
    &.not-compliant::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: transparent;
        border-radius: 1rem;
        box-shadow: 0 0 0.2rem 0.6rem map-get($colors,red);
        transform: scale(1);
    }
}

@keyframes onHoverBeforeButton {
    0% {
        transform: scale(0.9);
    }
    50% {
        transform: scale(1);
    }
    100% {
        transform: scale(0.9);
    }
}
@keyframes currentLanguageAppear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

body.animations {
    & .language-select:not(.compliant):not(.not-compliant):hover::before {
        animation: onHoverBeforeButton 1400ms ease-in-out infinite;
    }
    & .language-select_top span {
        animation: currentLanguageAppear 600ms ease-in-out forwards;
    }
    & .language-select[aria-expanded='true'] .language-select_center {
        transition: 400ms ease-in-out;
    }
    & .language-select[aria-expanded='false'] .language-select_center {
        transition: 300ms 400ms ease-in-out;
    }
    & .language-select_center span {
        transition: opacity 400ms 200ms ease-in-out;
    }
    & .language-select_center span::before {
        transition: 200ms ease-in-out;
    }
}

body:not(.contrast) {
    & .language-select {
        text-shadow: 0px 2px 4px map-get($colors,blue);
    }
    &.purple {
        & .language-select {
            color: map-get($colors,purple);
            text-shadow: 0px 2px 4px map-get($colors,purple);
        }
        & .language-select_center span::before {
            background-color: map-get($colors,purple);
        }
    }
}
