.main-link {
    display: inline-block;
    position: relative;
    padding: 1.5rem;
    text-decoration: none;
    font-size: 1.8rem;
    color: map-get($colors,blue);
    background-color: map-get($colors,dark);
    border: solid map-get($colors,white) 0.2rem;
    border-radius: 1rem;
    transition: 200ms ease-in-out;
    overflow: hidden;
}

@keyframes mainMenuLinkHover {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
    80% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: translateX(20rem);
    }
}

body.animations {
    & .main-link:hover::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0.1rem;
        height: 100%;
        width: 0;
        box-shadow: 0 0 1rem 0.4rem map-get($colors,blue);
        animation: mainMenuLinkHover 800ms ease-in-out forwards; 
    }
    & .main-link:focus-within::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0.1rem;
        height: 100%;
        width: 0;
        box-shadow: 0 0 1rem 0.4rem map-get($colors,blue);
        animation: mainMenuLinkHover 800ms ease-in-out forwards; 
    }
}
body:not(.contrast) {
    & .main-link {
        text-shadow: 0 0.2rem 0.4rem map-get($colors,blue);
    }
    &.purple {
        & .main-link {
            color: map-get($colors,purple);
            text-shadow: 0 0.2rem 0.4rem map-get($colors,purple);
            &:hover::after {
                box-shadow: 0 0 1rem 0.4rem map-get($colors,purple);
            }
            &:focus-within::after {
                box-shadow: 0 0 1rem 0.4rem map-get($colors,purple);
            }
        }
    }
}

