.search-bar-container {
    position: relative;
    margin: auto;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding-right: 0.5rem;
    width: fit-content;  
    border-radius: 1rem;
    background-color: map-get($colors,white);
    border: solid 0.4rem map-get($colors,white);
    &::before {
        content: "";
        position: absolute;
        z-index:-1;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        border-radius: 1rem;
        transform: scale(0.95,0.9);
    }
    & input {
        padding: 1rem 1rem;
        width: 15rem;
        color: map-get($colors,blue);
        font-size: 1.4rem;
        background-color: map-get($colors,darkBackground);
        border-radius: 1rem;
        border: none;
    }
    & .input-container {
        position: relative;
        overflow: hidden;
    }
}

.search-button {
    position: relative;
    padding: 0.5rem;
    height: 3.5rem;
    width: 3.5rem;
    font-size: 1.8rem;
    font-weight: bold;
    color: map-get($colors,blue);
    background-color: map-get($colors,darkBackground);
    border: 0.2rem map-get($colors,white) solid;
    border-radius: 50%;
    text-shadow: 0 0.2rem 0.4rem map-get($colors,blue);
    cursor: pointer;
}


@keyframes onHoverSearchButton {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes searchingAnimation {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
    80% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: translateX(13rem);
    }
}

body:not(.contrast) {
    & .search-button {
        box-shadow: 0 0 1rem map-get($colors,darkBackground);
    }
    & .search-bar-container::before {
        box-shadow: 0 0 2rem 1rem map-get($colors,darkBackground);
    }
    &.purple {
        & .search-bar-container input {
            color: map-get($colors,purple);
        }
        & .search-bar-container::after {
            box-shadow: 0 0 1rem 0.4rem map-get($colors,purple);
        }
        & .search-button {
            color: map-get($colors,purple);
            text-shadow: 0 0.2rem 0.4rem map-get($colors,purple);
        }
        &.animations .search-bar-container.searching .input-container::after {
            box-shadow: 0 0 1rem 0.4rem map-get($colors,purple);
        }
    }
}
body.contrast .search-bar-container .search-button {
    border-color: map-get($colors,darkBackground);
}
body.animations .search-bar-container.searching .input-container::after {
    content: "";
    position: absolute;
    top: 0;
    left: 1rem;
    height: 100%;
    width: 0rem;
    box-shadow: 0 0 1rem 0.4rem map-get($colors,blue);
    animation: searchingAnimation 1000ms ease-in-out forwards;
}

//temporary
.circle {
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    border: solid hsl(175,85%,55%) 0.2rem;
}
.rectangle {
    position: absolute;
    top: 1.2rem;
    left: 1.5rem;
    width: 0.3rem;
    height: 0.8rem;
    background-color: hsl(175,85%,55%);
    transform: rotate(-45deg);
}