.font-size-spin-button-container {
    margin: auto;
    position: relative;
    display: flex;
    align-items: center;
    gap: 2rem;
    padding: 1rem;
    background-color: #fff;
    border-radius: 1rem;
    box-shadow: inset rgba(0,0,0,0.3) 0.5rem 0.5rem 0.5rem;
    & label {
        font-size: 1.4rem;
        font-weight: bold;
    }
    &::before {
        content: "";
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 1rem;
        background-color: transparent;
        box-shadow: 0 0 1rem hsl(175,85%,55%), inset 0 0 1rem hsl(175,85%,55%);
        transform: scale(0.97,0.9);
    }
}

body.animations {
    & .font-size-spin-button-container:hover::before {
        animation: onHoverBeforeSpinButton 2000ms ease-in-out infinite; 
    }
    & .font-size-spin-button-container:focus-within::before {
        animation: onHoverBeforeSpinButton 2000ms ease-in-out infinite; 
    }
}

.spin-button-container {
    display: flex;
    gap: 1rem;
    align-items: center;
    & .input-container {
        position: relative;
        &::after {
            content:"%";
            position: absolute;
            bottom: -0.6rem;
            right: 1rem;
            height: 100%;
            width: fit-content;
            color: hsl(175,85%,55%);
            font-size: 1.6rem;
            text-shadow: 0 0.2rem 0.4rem hsl(175,85%,55%);
        }
    }
}
.spin-button_button {
    position: relative;
    padding: 1rem;
    font-size: 1.6rem;
    background-color: hsl(175,85%,55%);
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    &::before {
        content: "";
        position: absolute;
        z-index: 0;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 1rem;
        box-shadow: #1C1919 0 0 0.5rem;
        transition: 200ms ease-in-out;
    }
    &[aria-disabled='false']:active::before {
        transform: scale(0.5);
    }
    &[aria-disabled='true'] {
        opacity: 0.6;
        cursor: default;
    }
}

.spin-button_input {
    padding: 0.5rem 1rem;
    width: 7rem;
    font-size: 1.6rem;
    color: hsl(175,85%,55%);
    text-shadow: 0 0.2rem 0.4rem hsl(175,85%,55%);
    background: #1C1919;
    border: none;
    border-radius: 1rem;
}

@keyframes onHoverBeforeSpinButton {
    0% {
        transform: scale(0.97,0.9);
    }
    50% {
        transform: scale(1);
    }
    100% {
        transform: scale(0.97,0.9);
    }
}