.switch-container {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0.5rem 1rem;
    position: relative;
    width: fit-content;
    background-color: map-get($colors,white);
    border-radius: 1rem;
    &::before {
        content: "";
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 1rem;
        background-color: transparent;
        transform: scale(0.97,0.9);
    }
    & label {
        font-size: 1.4rem;
        font-weight: bold;
        cursor: pointer;
    }
}

.switch {
    position: relative;
    width: 6.5rem;
    height: 3rem;
    padding: 0.5rem;
    background-color: map-get($colors,dark);
    border-radius: 1.5rem;
    border: none;
    cursor: pointer;
    font-size: 1.2rem;
    &-button {
        position: relative;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    &_cursor {
        position: absolute;
        top: 0.5rem;
        left: 0.5rem;
        display: inline-block;
        height: 2rem;
        width: 2rem;
        background-color: map-get($colors,blue);
        box-shadow: 0 0 0.4rem map-get($colors,blue);
        border-radius: 50%;
    }
    &_state {
        position: absolute;
        opacity: 1;
        font-weight: bold;
        color: map-get($colors,blue);
        text-shadow: 0 0.2rem 0.4rem map-get($colors,blue);
    }
    &_off {
        right: 1rem;
    }
    &_on {
        left: 1rem;
    }
    &[aria-checked='true'] .switch_off {
        display: none;
    }
    &[aria-checked='false'] .switch_on {
        display: none;
    }
}

.switch[aria-checked='false'] .switch_cursor {
    transform: translateX(0);
}
.switch[aria-checked='true'] .switch_cursor {
    transform: translateX(3.5rem);
}

@keyframes onHoverBeforeSwitch {
    0% {
        transform: scale(0.97,0.9);
    }
    50% {
        transform: scale(1);
    }
    100% {
        transform: scale(0.97,0.9);
    }
}
@keyframes switchStateAppear {
    from {
        opacity: 0;
    }
}   

body.animations {
    & .switch-container:hover::before {
        animation: onHoverBeforeSwitch 2000ms ease-in-out infinite; 
    }
    & .switch-container:focus-within::before {
        animation: onHoverBeforeSwitch 2000ms ease-in-out infinite; 
    }
    & .switch_cursor {
        transition: transform 200ms ease-in-out;
    }
    & .switch_state {
        animation: switchStateAppear 400ms ease-in-out forwards;
    }
}

body.contrast {
    & .switch_cursor {
        box-shadow: none;
    }
    & .switch[aria-checked='false'] .switch_cursor {
        background-color: map-get($colors,red);
    }
    & .switch[aria-checked='true'] .switch_cursor {
        background-color: map-get($colors,green);
    }
    & .switch_state {
        text-shadow: none;
    }
    & .switch_on {
        color: map-get($colors,green);
    }
    & .switch_off {
        color: map-get($colors,red);
    }
}
body:not(.contrast) .switch-container {
    box-shadow: map-get($colors,switchBlackBoxShadow) inset 0.5rem 0.5rem 0.5rem;
    &::before {
    box-shadow: 0 0 1rem map-get($colors,blue);
    }
}
body:not(.contrast).purple {
    & .switch_cursor {
        background-color: map-get($colors,purple);
        box-shadow: 0 0 0.4rem map-get($colors,purple);
    }
    & .switch_state {
        color: map-get($colors,purple);
        text-shadow: 0 0.2rem 0.4rem map-get($colors,purple);
    }
    & .switch-container::before {
        box-shadow: 0 0 1rem map-get($colors,purple);
    }
}