
.warning {
    position: relative;
    color: map-get($colors,red);
    font-weight: bold;
    &-svg {
        height: 3rem;
        width: 3rem;
        stroke-width: 1rem;
        stroke: map-get($colors,red);
        fill: map-get($colors,dark);
        & circle {
            stroke-width: 0;
            fill: map-get($colors,red);
        }
    }
    &_message {
        position: absolute;
        z-index: 1;
        top: 0;
        left: 1rem;
        width: fit-content;
        min-width: 20rem;
        max-width: 40rem;
        padding: 0.5rem;
        background-color: map-get($colors,darkBackground);
        border: solid 0.4rem map-get($colors,red);
        border-radius: 1rem;
    }
}