$colors: (
    dark: #000,
    white: #f1f1f1,
    blue: hsl(175,95%,55%),
    blueSkill: hsl(175,50%,55%),
    purple: hsl(295,95%,55%),
    purpleSkill: hsl(295,50%,55%),
    green: hsl(120,95%,55%),
    red: hsl(0,95%,55%),
    orange: hsl(10,95%,55%),
    darkBackground: hsl(0,6%,10%),
    switchBlackBoxShadow: rgba(0,0,0,0.3),
    modalDarkBackground: rgba(0,0,0,0.9)
)