.filters_line {
    display: flex;
    align-items: center;
    gap: 1rem;
    &_label {
        font-weight: bold;
        color: map-get($colors,darkBackground);
    }
    &_list {
        display: flex;
        gap: 1rem;
    }
}