.achievments-filter {
    margin: auto;
    padding: 2rem;
    max-width: 90%;
    background-color: map-get($colors,white);
    border-radius: 1rem;
    &_head {
        display: flex;
        justify-content: center;
        align-items : center;
        gap: 2rem;
        margin-bottom: 2rem;
        width: 100%;
        & .cv_section_title {
            margin: 0;
        }
    }
    &_content {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        height: 38rem;
        opacity: 1;
        &>.basic-button-container {
            margin: auto;
        }
    }
    &_results {
        padding: 0.5rem 1rem;
        font-weight: bold;
        font-size: 1.6rem;
        margin: auto;
        border: solid 0.2rem map-get($colors,darkBackground);
        border-radius: 1rem;
        & span:first-child {
            margin-right: 1rem;
        }
    }
}

@keyframes contentAppear {
    0% {
        height: 0;
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
}

body:not(.contrast) {
    & .achievments-filter {
        box-shadow: map-get($colors,switchBlackBoxShadow) inset 0.5rem 0.5rem 0.5rem;
    }
}
body.animations {
    & .achievments-filter_content {
        animation : contentAppear 400ms ease-in-out both;
    }
}

