.achievments-filter {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: fit-content;
    margin: 6rem auto;
    padding: 2rem;
    background-color: map-get($colors,white);
    border-radius: 1rem;
    &>.basic-button-container {
        margin: auto;
    }
    &_results {
        padding: 0.5rem 1rem;
        font-weight: bold;
        font-size: 1.6rem;
        margin: auto;
        border: solid 0.2rem map-get($colors,darkBackground);
        border-radius: 1rem;
        & span:first-child {
            margin-right: 1rem;
        }
    }
}

body:not(.contrast) {
    & .achievments-filter {
        box-shadow: map-get($colors,switchBlackBoxShadow) inset 0.5rem 0.5rem 0.5rem;
    }
}