.achievments-filter {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: fit-content;
    margin: auto;
    padding: 2rem;
    background-color: map-get($colors,white);
    border-radius: 1rem;
    &>.basic-button-container {
        margin: auto;
    }
}

body:not(.contrast) {
    & .achievments-filter {
        box-shadow: map-get($colors,switchBlackBoxShadow) inset 0.5rem 0.5rem 0.5rem;
    }
}