.achievment-section {
    color: map-get($colors,blue);
    background-color: map-get($colors,darkBackground);
    & h2 {
        width: fit-content;
        margin: 2rem auto;
    }
    & .main-link {
        margin: auto;
    }
    &_text-content {
        margin: 40px 200px; /*temporary*/
    }
    & dl {
        padding: 1rem;
        font-size: 1.4rem;
    }
    & dt {
        font-weight: bold;
        margin-bottom: 0.5rem;
    }
    & dd {
        margin: 0 0 2rem 2rem;
    }
    & .basic-button-container {
        margin: 1.5rem auto 3rem auto;
    }
}

@keyframes sectionContentAppear {
    0% {
        opacity: 0;
    }
    30% {
        filter: blur(1rem);
        text-shadow: 0 0.2rem 0.4rem map-get($colors,blue)
    }
    40% {
        filter: blur(0);
    }
    60% {
        filter: blur(0.5rem);
    }
    70% {
        filter: blur(0);
        text-shadow: 0 0.2rem 0.4rem map-get($colors,blue);
    }
    90% {
        filter: brightness(1);
    }
}

@keyframes sectionContentAppearPurple {
    0% {
        opacity: 0;
    }
    30% {
        filter: blur(1rem);
        text-shadow: 0 0.2rem 0.4rem map-get($colors,purple)
    }
    40% {
        filter: blur(0);
    }
    60% {
        filter: blur(0.5rem);
    }
    70% {
        filter: blur(0);
        text-shadow: 0 0.2rem 0.4rem map-get($colors,purple);
    }
    90% {
        filter: brightness(1);
    }
}

body.animations {
    & .achievment-section_text-content {
        animation: sectionContentAppear 600ms 800ms ease-in-out backwards;
    }
}
body:not(.contrast) {
    & .achievment-section {
        text-shadow: 0 0.2rem 0.4rem map-get($colors,blue);
    }
    &.purple {
        & .achievment-section {
            color: map-get($colors,purple);
            text-shadow: 0 0.2rem 0.4rem map-get($colors,purple);
        }
        &.animations {
            & .achievment-section_text-content {
                animation: sectionContentAppearPurple 600ms 800ms ease-in-out backwards;
            }
        }
    }
}