.bottom-menu {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1rem 0;
    width: 100%;
    background-color: map-get($colors,white);
    @include tablette {
        flex-direction: row;
        justify-content: space-around;
        padding: 2rem 1rem;
    }
    @include topMenuReducedWidth {
        display: block;
        bottom: 0;
        height: fit-content;
        padding: 0;
        background-color: transparent;
        overflow-y: hidden;
    }
    &.home {
        @include topMenuReducedWidth {
            bottom: 60px;
            overflow-y: visible;
            // overflow-x: hidden;
            width: 100%;
        }
        & .link {
            &:nth-child(2) {
                @include topMenuReducedWidth {
                    right: 30px;
                    left: inherit;
                    top: inherit;
                    bottom: 270px;
                    transform: inherit
                }
            }
            &:nth-child(3) {
                @include topMenuReducedWidth {
                    right: 140px;
                    top: inherit;
                    left: inherit;
                    bottom: 220px;
                    transform: inherit;
                }
            }
            &:nth-child(4) {
                @include topMenuReducedWidth {
                    right: 200px;
                    left: inherit;
                    top: inherit;
                    bottom: 160px;
                    transform: inherit
                }
            }
            &:nth-child(5) {
                @include topMenuReducedWidth {
                    right: 280px;
                    left: inherit;
                    top: inherit;
                    bottom: 100px;
                    transform: inherit
                }
            }
            &:last-child {
                @include topMenuReducedWidth {
                    right: 340px;
                    bottom: 40px;
                }
            }
        }
    }
    &-line {
        &--home-page {
            display: none;
            @include topMenuReducedWidth {
                display: block;
                position: absolute;
                right: -50px;
                bottom: -30px; 
                height: 380px;
                stroke: map-get($colors,white);
                fill: map-get($colors,white);
            }
        }
        &--other-pages {
            @include topMenuReducedWidth {
                position: relative;
                bottom: -160px;
                height: 50%;
                stroke: map-get($colors,white);
                fill: map-get($colors,white);
            }
        }
    }
    & .link {
        @include topMenuReducedWidth {
            position: absolute;
            bottom: 20px;
        }
        &:nth-child(2) {
            @include topMenuReducedWidth {
                left: 210px;
            }
        }
        &:nth-child(3) {
            @include topMenuReducedWidth {
                left: 35%;
                transform: translateX(-50%);
                top: 210px;
            }
        }
        &:nth-child(4) {
            @include topMenuReducedWidth {
                left: 50%;
                transform: translateX(-50%);
                top: 180px;
            }
        }
        &:nth-child(5) {
            @include topMenuReducedWidth {
                right: 35%;
                transform: translateX(50%);
                top: 210px;
            }
        }
        &:last-child {
            @include topMenuReducedWidth {
                right: 200px;
            }
        }
    }
}