.carousel {
    margin: auto;
    position: relative;
    width: fit-content;
}

.carousel_pictures-container {
    position: relative;
    z-index: 0;
    display: block;
    width: 400px;
    height: 400px;
    overflow: hidden;
    &.transition::after {
        content: "";
        position: absolute;
        z-index: 4;
        top: 0;
        left: 0;
        height: 100%;
        width: 0;
        box-shadow: 0 0 3rem 1.5rem map-get($colors,blue), inset 0 0 3rem 1.5rem map-get($colors,blue);
        transform: translateX(0);
        transform-origin: 0 50%;
        opacity: 0;
    }
}

body.animations {
    & .carousel_pictures-container.transition {
        &.next::after {
            animation: carouselNextTranslate 600ms ease-in-out;
        }
        &.previous::after {
            animation: carouselPreviousTranslate 600ms ease-in-out;
        }
    }
}
body:not(.contrast) {
    & .carousel_pictures-container {
        box-shadow: 0 0 0.5rem 0.2rem map-get($colors,blue);
    }
    &.purple {
        & .carousel_pictures-container {
            box-shadow: 0 0 0.5rem 0.2rem map-get($colors,purple);
        }
        & .carousel_pictures-container.transition::after {
            box-shadow: 0 0 3rem 1.5rem map-get($colors,purple), inset 0 0 3rem 1.5rem map-get($colors,purple);
        }
    }
}
body.contrast {
    & .carousel_pictures-container {
        border: solid map-get($colors,white) 0.4rem;
    }
}


@keyframes carouselNextTranslate {
    0% {
        transform: translateX(400px);
    }
    10% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@keyframes carouselPreviousTranslate {
    10% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: translate(400px);
    }
}
