.cv_section {
    position: relative;
    width: fit-content;
    height: auto;
    margin: 4rem auto;
    padding: 1rem 3rem;
    background-color: map-get($colors,white);
    border-radius: 2.5rem;
    &::before {
        content: "";
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 2rem;
        background-color: transparent;
        transform: scale(0.97,0.9);
    }
    &_title {
        width: fit-content;
        height: auto;
        margin: 1rem auto;
        padding: 1rem 2rem;
        background-color: map-get($colors,darkBackground);
        border-radius: 25px;
        box-shadow: 0.4rem 0.4rem 0.4rem 0 map-get($colors,switchBlackBoxShadow);
        transform: translateY(0);
        animation: titleAppear 400ms ease-in-out;
    }
    &_list-container {
        display: flex;
        gap: 1rem;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        list-style: none;
        margin: 0.5rem;
        padding: 1rem;
        &.col {
            flex-direction: column;
        }
    }
    &--head {
        display: flex;
        flex-direction: column;
        align-items: 'center';
        gap: 2rem;
        padding: 2rem 3rem;
        & h1 {
            color: map-get($colors,darkBackground);
        }
        &_infos-wrapper {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 2rem;
        }
        &_identity-picture {
            width: 100px;
            height: 100px;
            border-radius: 10px;
            transform: scale(1);
        }
    }
}

@keyframes onHoverBeforeSection {
    0% {
        transform: scale(0.97,0.9);
    }
    50% {
        transform: scale(0.98,0.95);
    }
    100% {
        transform: scale(0.97,0.9);
    }
}
@keyframes pictureAppear {
    from {
        transform: scale(0);
    }
}

body:not(.contrast) {
    & .cv_section {
        box-shadow: map-get($colors,switchBlackBoxShadow) inset 0.5rem 0.5rem 0.5rem;
        &::before {
            box-shadow: 0 0 1rem 1rem map-get($colors,blue);
        }
    }
    &.purple {
        & .cv_section::before {
            box-shadow: 0 0 1rem 1rem map-get($colors,purple);
        }
    }
}
body.animations {
    & .cv_section:hover::before {
        animation: onHoverBeforeSection 2000ms ease-in-out infinite; 
    }
    & .cv_section:focus-within::before {
        animation: onHoverBeforeSection 2000ms ease-in-out infinite; 
    }
    & .cv_section--head_identity-picture {
        animation: pictureAppear 400ms 1s ease-in-out backwards;
    }
}