.full-screen-modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    width: 100vw;
    height: 100vh;
    background-color: map-get($colors,dark);
    display: flex;
    padding: 3rem;
}