.main-menu {
    position: relative;
    @include topMenuReducedWidth {
        left: -40px;
    }
    height: 100%;
    width: 100%;
    @include tablette {
        height: 75vh;
        width: 75vw;
        padding-top: 3rem;
    }
    &_line_svg {
        display: none;
        height: 100%;
        width: 100%;
        fill: map-get($colors,white);
        @include tablette {
            display: block;
        }
    }
    &_line_mobile {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        height: 1rem;
        width: 0.2rem;
        background-color: map-get($colors,white);
    }
    &_menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        @include tablette {
            display: block;
            position: absolute;
            top: 0;
            left: 0;
        }
        height: 100%;
        width: 100%;
    }
    &_menu-item {
        @include desktop {
            position: absolute;
        }
        &--home {
            @include desktop {
                left: 28%;
                top: 10%;
                transform: translate(-50%,-50%);
            }
            
        }
        &--who-am-i {
            @include desktop {
                left: 40%;
                top: 32%;
                transform: translate(-50%,-50%);
            }
        }
        &--cv {
            @include desktop {
                right: 40%;
                top: 24%;
                transform: translate(50%,-50%);
            }
        }
        &--achievments {
            @include desktop {
                right: 28%;
                bottom: 40%;
                transform: translate(50%,50%);
            }
        }
        &--why-accessibility {
            @include desktop {
                right: 40%;
                bottom: 3%;
                transform: translate(50%,50%);
            }
        }
    }
}
