.shortcut-setting-container {
    position: relative;
    display: flex;
    align-items: center;
    gap: 2rem;
    padding: 1rem;
    background-color: map-get($colors,white);
    border-radius: 1rem;
    &::before {
        content: "";
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 1rem;
        background-color: transparent;
        transform: scale(0.97,0.9);
    }
    & label {
        font-weight: bold;
    }
    &_key-pictures {
        position: absolute;
        right: -6rem;
        height: 5rem;
        width: 5rem;
        border-radius: 0.4rem;
        transform: scale(0);
        animation: keyPictureAppear forwards;
        overflow: hidden;
        & img {
            width: 100%;
            height: 100%;
        }
    }
}

.shortcut-input-container {
    position: relative;
    display: flex;
    gap: 1rem;
    align-items: center;
    &_input {
        padding: 0.5rem 1rem;
        width: 13rem;
        font-size: 1.6rem;
        text-transform: uppercase;
        color: map-get($colors,blue);
        background: map-get($colors,darkBackground);
        border: none;
        border-radius: 1rem;
    }
    & .input-container {
        position: relative;
    }
    &_tooltip {
        position: absolute;
        z-index: 1;
        top: 110%;
        left: 0;
        padding: 0.5rem;
        font-size: 1.6rem;
        color: map-get($colors,white);
        background-color: map-get($colors,darkBackground);
        border: solid map-get($colors,blue) 0.2rem;
        border-radius: 1rem;
    }
    &_success-message {
        position: absolute;
        z-index: 1;
        top: -4rem;
        padding: 0.5rem;
        font-size: 1.6rem;
        color: map-get($colors,green);
        background-color: map-get($colors,darkBackground);
        border: solid map-get($colors,blue) 0.2rem;
        border-radius: 1rem;
    }
} 


@keyframes onHoverBeforeSpinButton {
    0% {
        transform: scale(0.97,0.9);
    }
    50% {
        transform: scale(1);
    }
    100% {
        transform: scale(0.97,0.9);
    }
}
@keyframes keyPictureAppear {
    to {
        transform: scale(1);
    }
}

body.animations {
    & .shortcut-setting-container {
        &:hover::before {
            animation: onHoverBeforeSpinButton 2000ms ease-in-out infinite; 
        }
        &:focus-within::before {
            animation: onHoverBeforeSpinButton 2000ms ease-in-out infinite; 
        }
        &_key-pictures {
            animation: 200ms ease-in-out keyPictureAppear forwards;
        }
    }
}

body:not(.contrast) {
    & .shortcut-setting-container {
        box-shadow: inset map-get($colors,switchBlackBoxShadow) 0.5rem 0.5rem 0.5rem;
        &::before {
            box-shadow: 0 0 1rem map-get($colors,blue), inset 0 0 1rem map-get($colors,blue);
        }
        &_key-pictures {
            box-shadow: 0 0 0.5rem 0.1rem map-get($colors,blue);
        }
    }
    & .shortcut-input-container {
        &_input {
            text-shadow: 0 0.2rem 0.4rem map-get($colors,blue);
        }
    }
    &.purple {
        & .shortcut-input-container_input {
            color: map-get($colors,purple);
            text-shadow: 0 0.2rem 0.4rem map-get($colors,purple);
        }
        & .shortcut-input-container_tooltip {
            border: solid map-get($colors,purple) 0.2rem;
        }
        & .shortcut-input-container_success-message {
            border: solid map-get($colors,purple) 0.2rem;
        }
        & .shortcut-setting-container::before {
                box-shadow: 0 0 1rem map-get($colors,purple), inset 0 0 1rem map-get($colors,purple);
        }
        & .shortcut-setting-container_key-pictures {
            box-shadow: 0 0 1rem map-get($colors,purple);
        }
    }
}
