.video-container {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    & .video-player_transcription {
        transform: translateY(-100%);
        &.display {
            transform: translateY(0);
        }
    }
    & .video-player_video {
        transform: translateY(0);
        &.display {
            transform: translateY(-100%);
        }
    }
}

.video {
    &-title {
        color: map-get($colors,blue);
        font-size: 2rem;
        text-shadow: 0 0.2rem 0.4rem map-get($colors,blue);
    }
    &-player {
        position: relative;
        height: 30rem;
        width: 53rem;
        background-color: map-get($colors,dark);
        border: solid map-get($colors,white) 0.2rem;
        border-radius: 1rem;
        overflow: hidden;
        &_transcription {
            width: 100%;
            height: 100%;
            padding: 1rem;
            font-size: 1.6rem;
            color: map-get($colors,blue);
            overflow: auto;
            transform: translateY(-100%);
            transition: 400ms ease-in-out;
        }
        &_video {
            width: 100%;
            height: 100%;
            background-color: map-get($colors,dark);
            transform: translateY(0);
            transition: 400ms ease-in-out;
            & video {
                width: 100%;
                height: 100%;
            }
        }
        &_control-bar {
            position: absolute;
            bottom: 0;
            display: flex;
            align-items: center;
            gap: 1rem;
            padding: 0.5rem;
            width: 100%;
            background-color: map-get($colors,darkBackground);
            transform: translateY(100%);
            transition: 400ms ease-in-out;
            &.display {
                transform: translateY(0);
            }
            & .play-button {
                height: 4rem;
                width: 4rem;
                & .play-icon {
                    height: 100%;
                    width: 100%;
                    fill: map-get($colors,blue);
                }
                & .pause-icon {
                    display: flex;
                    gap: 0.4rem;
                    height: 100%;
                    width: 100%;
                }
                & .pause-icon span {
                    display: block;
                    transform: translate(50%,20%);
                    height: 1.8rem;
                    width: 0.4rem;
                    background-color: map-get($colors,blue);
                    border-radius: 0.2rem;
                }
                &.play .pause-icon {
                    display: none;
                }
                &.pause .play-icon {
                    display: none;
                }
            }
            &_timeline {
                position: relative;
                z-index: 0;
                display: flex;
                align-items: center;
                flex-grow: 1;
            }
            &_volume {
                position: relative;
                z-index: 0;
            }
            &_volume.display .volume-slider {
                transform: translateY(0);
            }
            &_volume.display .volume-button_icon {
                transform: rotate(90deg);
            }
            & .volume-button_icon {
                height: 2rem;
                width: 2rem;
                stroke-width: 1.2rem;
                stroke: map-get($colors,blue);
                fill: map-get($colors,blue);
                transform: translateY(10%);
                & .cross {
                    transform: scale(1.5) translate(-15%,-15%);
                }
                & .high {
                    fill: none;
                }
            }
            & .full-screen-button {
                height: 4rem;
                width: 4rem;
                & .full-screen-button_icon {
                    height: 100%;
                    width: 100%;
                    stroke: map-get($colors,blue);
                    fill: map-get($colors,blue);
                }
                & .full-screen-button_icon--leave {
                    transform: scale(1.8);
                }
                &:hover .full-screen-button_icon--enter {
                    transform: scale(1.4);
                }
                &:hover .full-screen-button_icon--leave {
                    transform: scale(1.4);
                }
            }
        }
        &-button {
            position: relative;
            color: map-get($colors,blue);
            font-size: 2rem;
            text-shadow: 0 0.2rem 0.4rem map-get($colors,blue);
            padding: 0.5rem 1rem;
            background-color: map-get($colors,dark);
            border: solid 0.2rem map-get($colors,white);
            border-radius: 50%;
            cursor: pointer;
            & span {
                display: block;
                transition: 400ms ease-in-out;
            }
            &::before {
                content: "";
                position: absolute;
                z-index: -1;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                border-radius: 1rem;
                box-shadow: 0 0 1.5rem 0.6rem rgba(0,0,0,0.7);
                transform: scale(0.9);
            }
            &:hover::before {
                animation: onHoverButtonBefore 1s ease-in-out infinite alternate;
            }
        }
        &_background {
            position: absolute;
            left: 0;
            height: 100%;
            object-fit: cover;
        }
    }
    &-transcription-button {
        position: relative;
        z-index: 1;
        padding: 1rem;
        font-weight: bold;
        background-color: map-get($colors,white);
        border: none;
        border-radius: 1rem;
        box-shadow: inset 0.5rem 0.5rem 0.5rem rgba(0,0,0,0.3);
        cursor: pointer;
    }
}

.main-play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 0.5rem 1rem;
    // border: solid 0.4rem hsl(175,85%,55%); 
    border-radius: 50%;
    cursor: pointer;
    &::before {
        content: "";
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        transform: translate(-12%,-12%);
        width: 120%;
        height: 120%;
        background-color: map-get($colors,darkBackground);
        border-radius: 50%;
        box-shadow: 0 0 0.8rem 1rem map-get($colors,darkBackground);
    }
    &_play-icon {
        width: 4rem;
        height: 4rem;
        fill: map-get($colors,blue);
    }
    
}
.time-count {
    position: relative;
    color: map-get($colors,blue);
    font-size: 1.6rem;
    text-shadow: 0 0.2rem 0.4rem map-get($colors,blue);
    padding: 0.5rem 1rem;
    background-color: map-get($colors,dark);
    border: solid 0.2rem #fff;
    border-radius: 1rem;
}
.time-slider {
    position: relative;
    z-index: -1;
    left: -1.5rem;
    background-color: map-get($colors,dark);
    border: solid map-get($colors,white) 0.2rem;
    border-radius: 0 1rem 1rem 0;
    flex-grow: 1;
    padding: 0.5rem 0.5rem 0.5rem 2rem;
    cursor: pointer;
    &_thumb {
        position: relative;
        top: 0.2rem;
        display: inline-block;
        height: 1.5rem;
        width: 1.5rem;
        background-color: map-get($colors,blue);
        border-radius: 50%;
        box-shadow: 0 0 0.5rem 0.2rem map-get($colors,blue);
    }
}
.volume-slider {
    height: 10rem;
    padding: 1rem;
    background-color: map-get($colors,dark);
    border: solid map-get($colors,white) 0.2rem;
    transform-origin: 50% 0;
    transform: translateY(100%);
    cursor: pointer;
    &-container {
        position: absolute;
        z-index: -1;
        bottom: 3rem;
        left: 50%;
        transform: translateX(-50%);
        height: fit-content;
        width: 3rem;
        overflow: hidden;
    }
    &_mask {
        position: absolute;
        z-index: 1;
        bottom: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        height: 100%;
        border-radius: 1rem 1rem 0 0;
        & span {
            display: inline-block;
            width: 100%;
            height: 0.8rem;
            background-color: map-get($colors,dark);
        }
    }
    &_thumb {
        position: absolute;
        bottom: 0;
        width: 0.8rem;
        background-color: map-get($colors,blue);
        box-shadow: 0 0 0.5rem 0.2rem map-get($colors,blue);
    }
}

.video-preview {
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 1;
    bottom: 3rem;
    width: 11.8rem;
    height: 9.5rem;
    background-color: map-get($colors,dark);
    border: solid 0.2rem map-get($colors,white);
    border-radius: 1rem;
    overflow: hidden;
    & video {
        flex-grow: 1;
        height: 100%;
        width: 100%;
    }
    &_count {
        display: block;
        padding: 0.5rem 0;
        text-align: center;
        
    }
}

@keyframes mainPlayButtonDisappear {
    to {
        opacity: 0;
    }
}

@keyframes onHoverButtonBefore {
    from {
        transform: scale(0.9);
    }
    to {
        transform: scale(0.95);
    }
}

body.animations {
    & .video-player.play .main-play-button {
        animation: mainPlayButtonDisappear 400ms ease-in-out forwards;
    }
    & .video-container.transcription .main-play-button {
        animation: mainPlayButtonDisappear 400ms ease-in-out forwards;
    }
    & .volume-slider {
        transition: 200ms 200ms ease-in-out;
    }
    & .video-player_control-bar {
        &_volume .volume-button_icon {
            transition: 200ms ease-in-out;
        }
    }
    & .full-screen-button_icon {
        transition: 200ms ease-in-out;
    }
}

body:not(.contrast) {
    &.purple {
        & .video-player {
            &_transcription {
                color: map-get($colors,purple);
            }
            & .main-play-button_play-icon {
                fill: map-get($colors,purple);
            }
            &_control-bar .play-icon {
                fill: map-get($colors,purple);
            }
            &_control-bar .pause-icon span {
                background-color: map-get($colors,purple);
            }
            &_control-bar .volume-slider_thumb {
                background-color: map-get($colors,purple);
                box-shadow: 0 0 0.5rem 0.2rem map-get($colors,purple);
            }
            &_control-bar .volume-button_icon {
                stroke: map-get($colors,purple);
                fill: map-get($colors,purple);
            }
            &_control-bar .time-slider_thumb {
                background-color: map-get($colors,purple);
                box-shadow: 0 0 0.5rem 0.2rem map-get($colors,purple);
            }
            &_control-bar .time-count {
                color: map-get($colors,purple);
                text-shadow: 0 0.2rem 0.4rem map-get($colors,purple);
            }
            &_control-bar .full-screen-button_icon{
                stroke: map-get($colors,purple);
                fill: map-get($colors,purple);
            }
        }
    }
}

