* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  font-size: 1.4rem;
  font-family: "Oswald", sans-serif;
  background-color: #000;
}

@font-face {
  body.open-dyslexic {
    font-family: "openDyslexic";
    src: url("../../fonts/OpenDyslexic-Regular.otf") format("opentype");
  }
}
@font-face {
  body.open-dyslexic button, body.open-dyslexic input, body.open-dyslexic textarea {
    font-family: "openDyslexic";
    src: url("../../fonts/OpenDyslexic-Regular.otf") format("opentype");
  }
}
body.paragraph-height p {
  margin-bottom: 2.8rem;
}
body.line-height {
  line-height: 2.1rem;
}
body.line-height h2 {
  line-height: 2.4rem;
}
body.word-spacing {
  word-spacing: 0.224rem;
}
body.word-spacing button, body.word-spacing input, body.word-spacing textarea {
  word-spacing: 0.224rem;
}
body.word-spacing .main-link {
  word-spacing: 0.288rem;
}
body.word-spacing .main-title {
  word-spacing: 0.32rem;
}
body.word-spacing .loader {
  word-spacing: 0.384rem;
}
body.word-spacing h2 {
  word-spacing: 0.256rem;
}
body.word-spacing dl {
  word-spacing: 0.224rem;
}
body.letter-spacing {
  letter-spacing: 0.168rem;
}
body.letter-spacing button, body.letter-spacing input, body.letter-spacing textarea {
  word-spacing: 0.168rem;
}
body.letter-spacing .language-select {
  letter-spacing: 0.192rem;
}
body.letter-spacing .spin-button_input {
  letter-spacing: 0.192rem;
}
body.letter-spacing .main-link {
  letter-spacing: 0.216rem;
}
body.letter-spacing .main-title {
  letter-spacing: 0.24rem;
}
body.letter-spacing .loader {
  letter-spacing: 0.288rem;
}
body.letter-spacing h2 {
  letter-spacing: 0.192rem;
}
body.letter-spacing dl {
  letter-spacing: 0.168rem;
}
body:not(.contrast) {
  background: radial-gradient(ellipse 50% 80%, #000 80%, hsl(175deg, 95%, 55%));
  background-size: 100% 100%;
  background-position: 50% 50%;
}
body:not(.contrast).animations {
  animation: backgroundMovement 15s ease-in-out infinite alternate;
}
body:not(.contrast) h2 {
  text-shadow: 0 0.2rem 0.4rem hsl(175deg, 95%, 55%);
}
body:not(.contrast).purple {
  background: radial-gradient(ellipse 50% 80%, #000 80%, hsl(295deg, 95%, 55%));
}
body:not(.contrast).purple h2 {
  color: hsl(295deg, 95%, 55%);
  text-shadow: 0 0.2rem 0.4rem hsl(295deg, 95%, 55%);
}

@keyframes backgroundMovement {
  to {
    background-size: 150% 150%;
    background-position: 50% 50%;
  }
}
#root {
  min-height: 100vh;
}

header { /*temporary*/
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 1rem;
  margin-bottom: 4rem;
}

main:not(.cv) { /*temporary*/
  background-color: hsl(0deg, 6%, 10%);
}

h2 {
  font-size: 1.6rem;
  color: hsl(175deg, 95%, 55%);
}

a, a:visited {
  text-decoration: none;
}

ul:not(.achievments_list):not(.infos-dialog_list) {
  list-style: none;
}

button, input, textarea {
  font-size: 1.4rem;
  font-family: "Oswald", sans-serif;
}

.basic-button-container {
  position: relative;
  z-index: 0;
  width: fit-content;
  height: fit-content;
}
.basic-button-container.disabled {
  opacity: 0.6;
}

.basic-button {
  position: relative;
  padding: 1rem;
  font-weight: 600;
  background-color: hsl(175deg, 95%, 55%);
  border: none;
  border-radius: 1rem;
  cursor: pointer;
}
.basic-button[aria-disabled=true] {
  cursor: default;
}
.basic-button_text {
  position: relative;
  z-index: 1;
}
.basic-button[aria-disabled=false]:active {
  transform: translate(0.2rem, 0.2rem);
}
.basic-button:not([aria-disabled]):active {
  transform: translate(0.2rem, 0.2rem);
}
.basic-button-shadow {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  box-shadow: #f1f1f1 0.2rem 0.2rem 0.2rem 0.1rem;
}
.basic-button[aria-disabled=false]:active + .basic-button-shadow {
  transform: scale(0.8);
}
.basic-button:not([aria-disabled]):active + .basic-button-shadow {
  transform: scale(0.8);
}

.basic-button-container--on-white-background .basic-button-shadow {
  box-shadow: hsl(0deg, 6%, 10%) 0.2rem 0.2rem 0.2rem 0.1rem;
}

body.contrast .basic-button {
  border: solid 0.4rem #f1f1f1;
}
body.contrast .basic-button-shadow {
  transform: scale(0);
}
body.contrast .basic-button::after {
  content: "";
  position: absolute;
  z-index: 0;
  top: -0.4rem;
  left: -0.4rem;
  width: 100%;
  height: 100%;
  background-color: #f1f1f1;
  border: solid 0.4rem hsl(175deg, 95%, 55%);
  border-radius: 1rem;
  opacity: 0;
}
body.contrast .basic-button:not([aria-disabled]):hover::after {
  opacity: 1;
}
body.contrast .basic-button[aria-disabled=false]:hover::after {
  opacity: 1;
}
body.contrast .basic-button:not([aria-disabled]):focus::after {
  opacity: 1;
}
body.contrast .basic-button[aria-disabled=false]:focus::after {
  opacity: 1;
}

body.contrast .basic-button-container--on-white-background .basic-button {
  border: solid 0.4rem hsl(0deg, 6%, 10%);
}
body.contrast .basic-button-container--on-white-background .basic-button::after {
  border-color: hsl(0deg, 6%, 10%);
}

body.purple .basic-button {
  background-color: hsl(295deg, 95%, 55%);
}

body.animations .basic-button {
  transition: 200ms ease-in-out;
}
body.animations .basic-button-shadow {
  transition: 100ms ease-in-out;
}
body.animations .basic-button::after {
  transition: 200ms ease-in-out;
}

.animations-toggle-button {
  position: relative;
  margin: auto;
  padding: 1rem;
  font-weight: 600;
  background-color: hsl(0deg, 6%, 10%);
  border-radius: 1rem;
  border: solid 0.2rem #f1f1f1;
  cursor: pointer;
}
.animations-toggle-button:hover {
  animation: onHoverButton 1400ms ease-in-out infinite;
}
.animations-toggle-button_overflow-container {
  position: absolute;
  top: 0;
  left: 0;
  padding: 1rem;
  overflow: hidden;
}
.animations-toggle-button_text-container {
  position: absolute;
  top: 1rem;
  left: 10%;
  width: 23rem;
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  transition: 400ms ease-in-out;
}
.animations-toggle-button_on {
  color: hsl(120deg, 95%, 55%);
}
.animations-toggle-button_off {
  color: hsl(0deg, 95%, 55%);
}
.animations-toggle-button_invisible-text {
  opacity: 0;
}
.animations-toggle-button::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 1rem;
  box-shadow: 0 0 2rem 1rem hsl(0deg, 6%, 10%);
  transform: scale(0.9);
}
.animations-toggle-button:hover::before {
  transform: scale(1);
  animation: onHoverBeforeButton 1400ms ease-in-out infinite;
}

.animations-toggle-button.on .animations-toggle-button_text-container {
  transform: translateX(0);
}

.animations-toggle-button:not(.on) .animations-toggle-button_text-container {
  transform: translateX(-52%);
}

@keyframes onHoverBeforeButton {
  0% {
    transform: scale(0.9);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.9);
  }
}
body:not(.contrast) .animations-toggle-button_on {
  text-shadow: 0px 2px 4px hsl(120deg, 95%, 55%);
}
body:not(.contrast) .animations-toggle-button_off {
  text-shadow: 0px 2px 4px hsl(0deg, 95%, 55%);
}

body.contrast .animations-toggle-button {
  border-color: hsl(0deg, 6%, 10%);
}

.switch-container {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem 1rem;
  position: relative;
  width: fit-content;
  background-color: #f1f1f1;
  border-radius: 1rem;
}
.switch-container::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  background-color: transparent;
  transform: scale(0.97, 0.9);
}
.switch-container label {
  font-weight: bold;
  cursor: pointer;
}

.switch {
  position: relative;
  width: 6.5rem;
  height: 3rem;
  padding: 0.5rem;
  background-color: #000;
  border-radius: 1.5rem;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
}
.switch-button {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.switch_cursor {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  display: inline-block;
  height: 2rem;
  width: 2rem;
  background-color: hsl(175deg, 95%, 55%);
  box-shadow: 0 0 0.4rem hsl(175deg, 95%, 55%);
  border-radius: 50%;
}
.switch_state {
  position: absolute;
  opacity: 1;
  font-weight: bold;
  color: hsl(175deg, 95%, 55%);
  text-shadow: 0 0.2rem 0.4rem hsl(175deg, 95%, 55%);
}
.switch_off {
  right: 1rem;
}
.switch_on {
  left: 1rem;
}
.switch[aria-checked=true] .switch_off {
  display: none;
}
.switch[aria-checked=false] .switch_on {
  display: none;
}

.switch[aria-checked=false] .switch_cursor {
  transform: translateX(0);
}

.switch[aria-checked=true] .switch_cursor {
  transform: translateX(3.5rem);
}

@keyframes onHoverBeforeSwitch {
  0% {
    transform: scale(0.97, 0.9);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.97, 0.9);
  }
}
@keyframes switchStateAppear {
  from {
    opacity: 0;
  }
}
body.animations .switch-container:hover::before {
  animation: onHoverBeforeSwitch 2000ms ease-in-out infinite;
}
body.animations .switch-container:focus-within::before {
  animation: onHoverBeforeSwitch 2000ms ease-in-out infinite;
}
body.animations .switch_cursor {
  transition: transform 200ms ease-in-out;
}
body.animations .switch_state {
  animation: switchStateAppear 400ms ease-in-out forwards;
}

body.contrast .switch_cursor {
  box-shadow: none;
}
body.contrast .switch[aria-checked=false] .switch_cursor {
  background-color: hsl(0deg, 95%, 55%);
}
body.contrast .switch[aria-checked=true] .switch_cursor {
  background-color: hsl(120deg, 95%, 55%);
}
body.contrast .switch_state {
  text-shadow: none;
}
body.contrast .switch_on {
  color: hsl(120deg, 95%, 55%);
}
body.contrast .switch_off {
  color: hsl(0deg, 95%, 55%);
}

body:not(.contrast) .switch-container {
  box-shadow: rgba(0, 0, 0, 0.3) inset 0.5rem 0.5rem 0.5rem;
}
body:not(.contrast) .switch-container::before {
  box-shadow: 0 0 1rem hsl(175deg, 95%, 55%);
}

body:not(.contrast).purple .switch_cursor {
  background-color: hsl(295deg, 95%, 55%);
  box-shadow: 0 0 0.4rem hsl(295deg, 95%, 55%);
}
body:not(.contrast).purple .switch_state {
  color: hsl(295deg, 95%, 55%);
  text-shadow: 0 0.2rem 0.4rem hsl(295deg, 95%, 55%);
}
body:not(.contrast).purple .switch-container::before {
  box-shadow: 0 0 1rem hsl(295deg, 95%, 55%);
}

.radio-button {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
  cursor: pointer;
}
.radio-button_label {
  position: relative;
  margin-left: 0.5rem;
  padding: 0.5rem 1rem;
  text-transform: capitalize;
  background-color: hsl(0deg, 6%, 10%);
  border-radius: 1rem;
  cursor: pointer;
}
.radio-button_label::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-100%, -50%) scaleX(1.6);
  width: 0.5rem;
  height: 1rem;
  background-color: hsl(0deg, 6%, 10%);
}
.radio-button_input {
  position: relative;
  display: inline-block;
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  background-color: hsl(0deg, 6%, 10%);
}
.radio-button[aria-checked=true] .radio-button_input::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 50%;
  background-color: hsl(175deg, 95%, 55%);
  box-shadow: 0 0 0.25rem hsl(175deg, 95%, 55%);
  border-radius: 50%;
  opacity: 1;
}

@keyframes radioInputAfterAppear {
  from {
    opacity: 0;
  }
}
body.purple .radio-button[aria-checked=true] .radio-button_input::after {
  background-color: hsl(295deg, 95%, 55%);
  box-shadow: 0 0 0.25rem hsl(295deg, 95%, 55%);
}

body.animations .radio-button[aria-checked=true] .radio-button_input::after {
  animation: radioInputAfterAppear 400ms ease-in-out forwards;
}

.language-select {
  position: relative;
  margin: 2rem;
  font-size: 1.6rem;
  font-weight: bold;
  color: hsl(175deg, 95%, 55%);
  cursor: pointer;
}
.language-select::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 1rem;
  box-shadow: 0 0 2rem 1rem hsl(0deg, 6%, 10%);
  transform: scale(0.9);
}
.language-select_top {
  padding: 0.5rem 0.5rem 0 0.5rem;
  background-color: hsl(0deg, 6%, 10%);
  border-radius: 1rem 1rem 0 0;
  border: solid #f1f1f1;
  border-width: 0.2rem 0.2rem 0 0.2rem;
}
.language-select_top span {
  display: none;
  padding: 0.5rem;
  opacity: 1;
}
.language-select_top.fr .language-select_top_fr {
  display: inline-block;
}
.language-select_top.en .language-select_top_en {
  display: inline-block;
}
.language-select_center {
  height: 0;
  background-color: hsl(0deg, 6%, 10%);
  border: solid #fff;
  border-width: 0 0.2rem;
}
.language-select_center.fr .language-select_center_fr {
  display: inline-block;
}
.language-select_center.en .language-select_center_en {
  display: inline-block;
}
.language-select_center span {
  display: none;
  position: relative;
  z-index: 1;
  opacity: 0;
  margin: 0.5rem;
  padding: 0.3rem 0.5rem;
}
.language-select_center span:hover {
  color: hsl(0deg, 6%, 10%);
}
.language-select_center span:hover::before {
  opacity: 1;
}
.language-select_center span::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: hsl(175deg, 95%, 55%);
  border-radius: 0.5rem;
  opacity: 0;
}
.language-select_bottom {
  height: 1rem;
  background-color: hsl(0deg, 6%, 10%);
  border-radius: 0 0 1rem 1rem;
  border: solid #f1f1f1;
  border-width: 0 0.2rem 0.2rem 0.2rem;
}
.language-select[aria-expanded=true] .language-select_center {
  height: 2.6rem;
}
.language-select[aria-expanded=true] .language-select_center span {
  opacity: 1;
}
.language-select[aria-expanded=false] .language-select_center {
  height: 0rem;
}

@keyframes onHoverBeforeButton {
  0% {
    transform: scale(0.9);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.9);
  }
}
@keyframes currentLanguageAppear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
body.animations .language-select:hover::before {
  animation: onHoverBeforeButton 1400ms ease-in-out infinite;
}
body.animations .language-select_top span {
  animation: currentLanguageAppear 600ms ease-in-out forwards;
}
body.animations .language-select[aria-expanded=true] .language-select_center {
  transition: 400ms ease-in-out;
}
body.animations .language-select[aria-expanded=false] .language-select_center {
  transition: 300ms 400ms ease-in-out;
}
body.animations .language-select_center span {
  transition: opacity 400ms 200ms ease-in-out;
}
body.animations .language-select_center span::before {
  transition: 200ms ease-in-out;
}

body:not(.contrast) .language-select {
  text-shadow: 0px 2px 4px hsl(175deg, 95%, 55%);
}
body:not(.contrast).purple .language-select {
  color: hsl(295deg, 95%, 55%);
  text-shadow: 0px 2px 4px hsl(295deg, 95%, 55%);
}
body:not(.contrast).purple .language-select_center span::before {
  background-color: hsl(295deg, 95%, 55%);
}

.font-size-spin-button-container {
  margin: auto;
  position: relative;
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 1rem;
  background-color: #f1f1f1;
  border-radius: 1rem;
}
.font-size-spin-button-container label {
  font-weight: bold;
}
.font-size-spin-button-container::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  background-color: transparent;
  transform: scale(0.97, 0.9);
}

.spin-button-container {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.spin-button-container .input-container {
  position: relative;
}
.spin-button-container .input-container::after {
  content: "%";
  position: absolute;
  bottom: -0.6rem;
  right: 1rem;
  height: 100%;
  width: fit-content;
  color: hsl(175deg, 95%, 55%);
  font-size: 1.6rem;
}

.spin-button_button {
  position: relative;
  padding: 1rem;
  font-size: 1.6rem;
  background-color: hsl(175deg, 95%, 55%);
  border: none;
  border-radius: 1rem;
  cursor: pointer;
}
.spin-button_button::before {
  content: "";
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  box-shadow: hsl(0deg, 6%, 10%) 0 0 0.5rem;
  transition: 200ms ease-in-out;
}
.spin-button_button[aria-disabled=false]:active::before {
  transform: scale(0.5);
}
.spin-button_button[aria-disabled=true] {
  opacity: 0.6;
  cursor: default;
}

.spin-button_input {
  padding: 0.5rem 1rem;
  width: 7rem;
  font-size: 1.6rem;
  color: hsl(175deg, 95%, 55%);
  background: hsl(0deg, 6%, 10%);
  border: none;
  border-radius: 1rem;
}

@keyframes onHoverBeforeSpinButton {
  0% {
    transform: scale(0.97, 0.9);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.97, 0.9);
  }
}
body.animations .font-size-spin-button-container:hover::before {
  animation: onHoverBeforeSpinButton 2000ms ease-in-out infinite;
}
body.animations .font-size-spin-button-container:focus-within::before {
  animation: onHoverBeforeSpinButton 2000ms ease-in-out infinite;
}

body:not(.contrast) .font-size-spin-button-container {
  box-shadow: inset rgba(0, 0, 0, 0.3) 0.5rem 0.5rem 0.5rem;
}
body:not(.contrast) .font-size-spin-button-container::before {
  box-shadow: 0 0 1rem hsl(175deg, 95%, 55%), inset 0 0 1rem hsl(175deg, 95%, 55%);
}
body:not(.contrast) .spin-button-container .input-container::after {
  text-shadow: 0 0.2rem 0.4rem hsl(175deg, 95%, 55%);
}
body:not(.contrast) .spin-button_input {
  text-shadow: 0 0.2rem 0.4rem hsl(175deg, 95%, 55%);
}

body:not(.contrast).purple .font-size-spin-button-container::before {
  box-shadow: 0 0 1rem hsl(295deg, 95%, 55%), inset 0 0 1rem hsl(295deg, 95%, 55%);
}
body:not(.contrast).purple .spin-button-container .input-container::after {
  text-shadow: 0 0.2rem 0.4rem hsl(295deg, 95%, 55%);
}
body:not(.contrast).purple .spin-button_input {
  color: hsl(295deg, 95%, 55%);
  text-shadow: 0 0.2rem 0.4rem hsl(295deg, 95%, 55%);
}
body:not(.contrast).purple .input-container::after {
  color: hsl(295deg, 95%, 55%);
}

.accessibility-analysis-indicator {
  margin: auto;
  display: flex;
  gap: 1rem;
  position: relative;
  height: fit-content;
  padding: 0.4rem;
  background-color: #f1f1f1;
  border-radius: 1rem;
}
.accessibility-analysis-indicator::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 1rem;
  transform: scale(0.95, 0.9);
}
.accessibility-analysis-indicator.on .accessibility-analysis-toggle-button {
  cursor: pointer;
}

.accessibility-analysis-toggle-button {
  position: relative;
  margin: auto;
  padding: 1rem;
  font-size: 1.4rem;
  font-weight: bold;
  background-color: hsl(0deg, 6%, 10%);
  border-radius: 1rem;
  border: none;
}
.accessibility-analysis-toggle-button_on {
  color: hsl(120deg, 95%, 55%);
}
.accessibility-analysis-toggle-button_off {
  color: hsl(0deg, 95%, 55%);
  opacity: 1;
}

.accessibility-analysis-help-button {
  padding: 0 1rem;
  font-size: 1.8rem;
  font-weight: bold;
  color: hsl(175deg, 95%, 55%);
  background-color: hsl(0deg, 6%, 10%);
  border: 0.2rem #f1f1f1 solid;
  border-radius: 50%;
  cursor: pointer;
}

@keyframes onHoverBeforeButton {
  0% {
    transform: scale(0.95, 0.9);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.95, 0.9);
  }
}
@keyframes desactivatedTextAppear {
  from {
    opacity: 0;
  }
}
@keyframes onHoverHelpButton {
  5% {
    transform: scaleY(0.9);
  }
  40% {
    transform: scaleY(0.6);
  }
  70% {
    transform: scaleY(1) translateY(-20%);
  }
  100% {
    transform: scaleY(1) translateY(0);
  }
}
body.animations .accessibility-analysis-indicator:hover {
  animation: onHoverButton 1400ms ease-in-out infinite;
}
body.animations .accessibility-analysis-indicator.on:hover::before {
  transform: scale(1);
  animation: onHoverBeforeButton 1400ms ease-in-out infinite;
}
body.animations .accessibility-analysis-indicator .accessibility-analysis-toggle-button_off {
  animation: desactivatedTextAppear 400ms ease-in-out forwards;
}
body.animations .accessibility-analysis-indicator .accessibility-analysis-help-button:hover span {
  display: inline-block;
  transform-origin: 50% 100%;
  animation: onHoverHelpButton 1s ease-in-out infinite;
}

body:not(.contrast) .accessibility-analysis-indicator {
  box-shadow: rgba(0, 0, 0, 0.3) inset 0.5rem 0.5rem 0.5rem;
}
body:not(.contrast) .accessibility-analysis-indicator::before {
  box-shadow: 0 0 2rem 1rem hsl(0deg, 6%, 10%);
}
body:not(.contrast) .accessibility-analysis-toggle-button_on {
  text-shadow: 0px 2px 4px hsl(120deg, 95%, 55%);
}
body:not(.contrast) .accessibility-analysis-toggle-button_off {
  text-shadow: 0px 2px 4px hsl(0deg, 95%, 55%);
}
body:not(.contrast) .accessibility-analysis-help-button {
  text-shadow: 0 0.2rem 0.4rem hsl(175deg, 95%, 55%);
  box-shadow: 0 0 1rem hsl(0deg, 6%, 10%);
}

body:not(.contrast).purple .accessibility-analysis-help-button {
  color: hsl(295deg, 95%, 55%);
  text-shadow: 0 0.2rem 0.4rem hsl(295deg, 95%, 55%);
}

body.contrast .accessibility-analysis-indicator {
  border: solid 0.4rem hsl(0deg, 6%, 10%);
}
body.contrast .accessibility-analysis-help-button {
  border-color: hsl(0deg, 6%, 10%);
}

.search-bar-container {
  position: relative;
  margin: auto;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding-right: 0.5rem;
  width: fit-content;
  border-radius: 1rem;
  background-color: #f1f1f1;
  border: solid 0.4rem #f1f1f1;
}
.search-bar-container::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 1rem;
  transform: scale(0.95, 0.9);
}
.search-bar-container input {
  padding: 1rem 1rem;
  width: 15rem;
  color: hsl(175deg, 95%, 55%);
  font-size: 1.4rem;
  background-color: hsl(0deg, 6%, 10%);
  border-radius: 1rem;
  border: none;
}
.search-bar-container .input-container {
  position: relative;
  overflow: hidden;
}

.search-button {
  position: relative;
  padding: 0.5rem;
  height: 3.5rem;
  width: 3.5rem;
  font-size: 1.8rem;
  font-weight: bold;
  color: hsl(175deg, 95%, 55%);
  background-color: hsl(0deg, 6%, 10%);
  border: 0.2rem #f1f1f1 solid;
  border-radius: 50%;
  text-shadow: 0 0.2rem 0.4rem hsl(175deg, 95%, 55%);
  cursor: pointer;
}

@keyframes onHoverSearchButton {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes searchingAnimation {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateX(13rem);
  }
}
body:not(.contrast) .search-button {
  box-shadow: 0 0 1rem hsl(0deg, 6%, 10%);
}
body:not(.contrast) .search-bar-container::before {
  box-shadow: 0 0 2rem 1rem hsl(0deg, 6%, 10%);
}
body:not(.contrast).purple .search-bar-container input {
  color: hsl(295deg, 95%, 55%);
}
body:not(.contrast).purple .search-bar-container::after {
  box-shadow: 0 0 1rem 0.4rem hsl(295deg, 95%, 55%);
}
body:not(.contrast).purple .search-button {
  color: hsl(295deg, 95%, 55%);
  text-shadow: 0 0.2rem 0.4rem hsl(295deg, 95%, 55%);
}
body:not(.contrast).purple.animations .search-bar-container.searching .input-container::after {
  box-shadow: 0 0 1rem 0.4rem hsl(295deg, 95%, 55%);
}

body.contrast .search-bar-container .search-button {
  border-color: hsl(0deg, 6%, 10%);
}

body.animations .search-bar-container.searching .input-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 1rem;
  height: 100%;
  width: 0rem;
  box-shadow: 0 0 1rem 0.4rem hsl(175deg, 95%, 55%);
  animation: searchingAnimation 1000ms ease-in-out forwards;
}

.circle {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: solid hsl(175deg, 85%, 55%) 0.2rem;
}

.rectangle {
  position: absolute;
  top: 1.2rem;
  left: 1.5rem;
  width: 0.3rem;
  height: 0.8rem;
  background-color: hsl(175deg, 85%, 55%);
  transform: rotate(-45deg);
}

.main-burger-menu {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 1.2rem;
  background-color: #000;
  border: solid #f1f1f1 0.2rem;
  border-radius: 1rem;
  cursor: pointer;
}
.main-burger-menu span {
  display: inline-block;
  height: 0.3rem;
  width: 4rem;
  background-color: hsl(175deg, 95%, 55%);
  border-radius: 0.15rem;
  transform: scaleX(1);
  opacity: 1;
}

body:not(.contrast) .main-burger-menu {
  box-shadow: 0 0 1rem 0.2rem hsl(175deg, 95%, 55%);
}
body:not(.contrast) .main-burger-menu span {
  box-shadow: 0 0 0.5rem 0.2rem hsl(175deg, 95%, 55%);
}
body:not(.contrast).purple .main-burger-menu {
  box-shadow: 0 0 1rem 0.2rem hsl(295deg, 95%, 55%);
}
body:not(.contrast).purple .main-burger-menu span {
  background-color: hsl(295deg, 95%, 55%);
  box-shadow: 0 0 0.5rem 0.2rem hsl(295deg, 95%, 55%);
}

body.animations .main-burger-menu_line--1 {
  transform-origin: 0 50%;
  animation: mainBurgerMenuAppear 200ms ease-in-out backwards;
}
body.animations .main-burger-menu_line--2 {
  transform-origin: 0 50%;
  animation: mainBurgerMenuAppear 200ms 150ms ease-in-out backwards;
}
body.animations .main-burger-menu_line--3 {
  transform-origin: 0 50%;
  animation: mainBurgerMenuAppear 200ms 300ms ease-in-out backwards;
}
body.animations .main-burger-menu:hover .main-burger-menu_line--1 {
  transform-origin: 50% 50%;
  animation: mainBurgerMenuHover 600ms ease-in-out infinite alternate;
}
body.animations .main-burger-menu:hover .main-burger-menu_line--2 {
  transform-origin: 50% 50%;
  animation: mainBurgerMenuHover 600ms 500ms ease-in-out infinite alternate;
}
body.animations .main-burger-menu:hover .main-burger-menu_line--3 {
  transform-origin: 50% 50%;
  animation: mainBurgerMenuHover 600ms 1000ms ease-in-out infinite alternate;
}

@keyframes mainBurgerMenuAppear {
  from {
    opacity: 0;
    transform: scaleX(0);
  }
}
@keyframes mainBurgerMenuHover {
  to {
    transform: scaleX(0.5);
  }
}
.accessibility-settings-button {
  position: relative;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: hsl(175deg, 95%, 55%);
  font-size: 1.6rem;
  text-shadow: 0 0.2rem 0.4rem hsl(175deg, 95%, 55%);
  padding: 1rem;
  background-color: hsl(0deg, 6%, 10%);
  border-radius: 1rem;
  border: solid 0.2rem #f1f1f1;
  cursor: pointer;
}
.accessibility-settings-button::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 1rem;
  box-shadow: 0 0 2rem 1rem hsl(0deg, 6%, 10%);
  transform: scale(0.95, 0.9);
}

body:not(.contrast).purple .accessibility-settings-button {
  color: hsl(295deg, 95%, 55%);
  text-shadow: 0 0.2rem 0.4rem hsl(295deg, 95%, 55%);
}

.wheel-symbol {
  display: inline-block;
  height: 1.5rem;
  width: 1.5rem;
  border: solid 0.2rem hsl(175deg, 95%, 55%);
  border-radius: 50%;
  box-shadow: 0 0 0.3rem 0.05rem hsl(175deg, 95%, 55%), inset 0 0 0.3rem 0.05rem hsl(175deg, 95%, 55%);
}

.main-link {
  display: block;
  position: relative;
  padding: 1rem;
  width: fit-content;
  text-decoration: none;
  font-size: 1.8rem;
  color: hsl(175deg, 95%, 55%);
  background-color: #000;
  border: solid #f1f1f1 0.2rem;
  border-radius: 1rem;
  transition: 200ms ease-in-out;
  overflow: hidden;
}

@keyframes mainMenuLinkHover {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateX(20rem);
  }
}
body.animations .main-link:hover::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0.1rem;
  height: 100%;
  width: 0;
  box-shadow: 0 0 1rem 0.4rem hsl(175deg, 95%, 55%);
  animation: mainMenuLinkHover 800ms ease-in-out forwards;
}
body.animations .main-link:focus-within::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0.1rem;
  height: 100%;
  width: 0;
  box-shadow: 0 0 1rem 0.4rem hsl(175deg, 95%, 55%);
  animation: mainMenuLinkHover 800ms ease-in-out forwards;
}

body:not(.contrast) .main-link {
  text-shadow: 0 0.2rem 0.4rem hsl(175deg, 95%, 55%);
}
body:not(.contrast).purple .main-link {
  color: hsl(295deg, 95%, 55%);
  text-shadow: 0 0.2rem 0.4rem hsl(295deg, 95%, 55%);
}
body:not(.contrast).purple .main-link:hover::after {
  box-shadow: 0 0 1rem 0.4rem hsl(295deg, 95%, 55%);
}
body:not(.contrast).purple .main-link:focus-within::after {
  box-shadow: 0 0 1rem 0.4rem hsl(295deg, 95%, 55%);
}

.basic-picture-container {
  position: relative;
  display: block;
  margin: auto;
  width: 70%;
  height: fit-content;
  overflow: hidden;
}

.basic-picture {
  display: block;
  margin: auto;
  width: 100%;
  object-fit: contain;
  max-height: 95%;
  transform-origin: 50% 0;
  transform: scaleY(1);
  opacity: 1;
}
.basic-picture-mask {
  position: absolute;
  top: 1rem;
  left: 0;
  background-color: hsl(0deg, 6%, 10%);
  width: 100%;
  height: 100%;
  transform-origin: 50% 100%;
  transform: translateY(100%);
  opacity: 0;
  box-shadow: 0 -2rem 2rem 0.2rem hsl(175deg, 95%, 55%);
}

body.animations .basic-picture {
  animation: basicPictureAppear 1s ease-in-out backwards;
}
body.animations .basic-picture-mask {
  animation: basicPictureMaskDisappear 1s ease-in-out backwards;
}
body.animations:not(.contrast).purple .basic-picture-mask {
  box-shadow: 0 -2rem 2rem 0.2rem hsl(295deg, 95%, 55%);
}

@keyframes basicPictureAppear {
  from {
    opacity: 0;
  }
}
@keyframes basicPictureMaskDisappear {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
}
.main-title {
  padding: 0.8rem 1.8rem;
  font-size: 2rem;
  font-weight: bold;
  color: hsl(175deg, 95%, 55%);
  text-transform: capitalize;
  background-color: #000;
  border: solid #f1f1f1 0.2rem;
  border-radius: 4rem 4rem 1rem 1rem;
}

.main-title--home {
  border-radius: 2rem;
}

body:not(.contrast) .main-title {
  text-shadow: 0 0.2rem 0.4rem hsl(175deg, 95%, 55%);
}
body:not(.contrast).purple .main-title {
  color: hsl(295deg, 95%, 55%);
  text-shadow: 0 0.2rem 0.4rem hsl(295deg, 95%, 55%);
}

.carousel_picture {
  display: block;
  position: absolute;
  z-index: 0;
  object-fit: cover;
  margin: auto;
  width: 100%;
  height: 100%;
  transform-origin: 50% 0;
  transform: scaleY(1);
}

.current-picture {
  z-index: 3;
  opacity: 1;
  clip-path: polygon(0% 0%, 0% 100%, 100% 100%, 100% 0%);
}

.next-picture, .previous-picture {
  z-index: 1;
  top: 0;
  left: 0;
}

.next-picture {
  clip-path: polygon(100% 0%, 100% 100%, 100% 100%, 100% 0%);
}
.next-picture.next {
  z-index: 1;
}
.next-picture.previous {
  z-index: 2;
}

.previous-picture {
  clip-path: polygon(0% 0%, 0% 100%, 0% 100%, 0% 0%);
}
.previous-picture.next {
  z-index: 2;
}
.previous-picture.previous {
  z-index: 1;
}

body.animations .current-picture {
  transition: 600ms ease-in-out;
}
body.animations .next-picture {
  transition: 600ms ease-in-out;
}
body.animations .previous-picture {
  transition: 600ms ease-in-out;
}

.carousel_button {
  position: absolute;
  top: 50%;
  width: fit-content;
  transform: translateY(-50%);
}
.carousel_button--previous {
  left: -12rem;
}
.carousel_button--next {
  right: -8rem;
}

.loader {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}
.loader_text {
  font-size: 2.4rem;
  color: hsl(175deg, 95%, 55%);
  font-weight: bold;
}
.loader_timeline {
  display: flex;
  margin-top: 1rem;
  gap: 1rem;
}
.loader_timeline_unit {
  display: inline-block;
  height: 3rem;
  width: 1.4rem;
  background-color: hsl(175deg, 95%, 55%);
  animation: TimeLineUnit 200ms 500ms both;
}
.loader.french .loader_timeline_unit {
  width: 2.5rem;
}

@keyframes TimeLineUnit--1 {
  5% {
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes TimeLineUnit--2 {
  5% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes TimeLineUnit--3 {
  5% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes TimeLineUnit--4 {
  5% {
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes TimeLineUnit--5 {
  5% {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
body.animations .loader_timeline_unit--1 {
  animation: TimeLineUnit--1 5000ms backwards infinite;
}
body.animations .loader_timeline_unit--2 {
  animation: TimeLineUnit--2 5000ms backwards infinite;
}
body.animations .loader_timeline_unit--3 {
  animation: TimeLineUnit--3 5000ms backwards infinite;
}
body.animations .loader_timeline_unit--4 {
  animation: TimeLineUnit--4 5000ms backwards infinite;
}
body.animations .loader_timeline_unit--5 {
  animation: TimeLineUnit--5 5000ms backwards infinite;
}

body:not(.contrast) .loader_text {
  text-shadow: 0 0.2rem 0.4rem hsl(175deg, 95%, 55%);
}
body:not(.contrast) .loader_timeline_unit {
  box-shadow: 0 0.2rem 0.4rem hsl(175deg, 95%, 55%);
}
body:not(.contrast).purple .loader_text {
  color: hsl(295deg, 95%, 55%);
  text-shadow: 0 0.2rem 0.4rem hsl(295deg, 95%, 55%);
}
body:not(.contrast).purple .loader_timeline_unit {
  background-color: hsl(295deg, 95%, 55%);
  box-shadow: 0 0.2rem 0.4rem hsl(295deg, 95%, 55%);
}

.available-status-indicator {
  display: inline-block;
  position: relative;
  margin: auto;
  padding: 1rem;
  font-weight: 600;
  text-transform: capitalize;
  background-color: hsl(0deg, 6%, 10%);
  border-radius: 1rem;
  border: solid 0.2rem #f1f1f1;
  color: hsl(10deg, 95%, 55%);
}
.available-status-indicator.available {
  color: hsl(120deg, 95%, 55%);
}

body:not(.contrast) .available-status-indicator {
  text-shadow: 0px 2px 4px hsl(10deg, 95%, 55%);
}
body:not(.contrast) .available-status-indicator.available {
  text-shadow: 0px 2px 4px hsl(120deg, 95%, 55%);
}

body.contrast .available-status-indicator {
  border-color: hsl(0deg, 6%, 10%);
}

.achievments-separator {
  margin: 4rem auto;
  height: 1rem;
  width: 90%;
  background-color: hsl(175deg, 95%, 55%);
  border-radius: 0.5rem;
  transform-origin: 50% 50%;
  transform: scaleX(1);
}

@keyframes separatorAppear {
  from {
    transform: scaleX(0);
  }
}
body.animations .achievments-separator {
  animation: separatorAppear 400ms 1.4s ease-in-out backwards;
}

body:not(.contrast) .achievments-separator {
  box-shadow: 0 0 0.5rem 0.1rem hsl(175deg, 95%, 55%);
}
body:not(.contrast).purple .achievments-separator {
  background-color: hsl(295deg, 95%, 55%);
  box-shadow: 0 0 0.5rem 0.1rem hsl(295deg, 95%, 55%);
}

.basic-button-container--close-button {
  position: absolute;
  top: 0;
  right: 5rem;
  z-index: 0;
  width: fit-content;
}

.basic-button--close {
  z-index: 1;
  padding: 0.5rem;
}
.basic-button--close svg {
  height: 2rem;
  width: 2rem;
  fill: none;
  stroke: hsl(0deg, 6%, 10%);
  stroke-width: 2rem;
}

body.contrast .basic-button {
  border: solid 0.4rem #f1f1f1;
}
body.contrast .basic-button-shadow {
  transform: scale(0);
}
body.contrast .basic-button::after {
  content: "";
  position: absolute;
  z-index: 0;
  top: -0.4rem;
  left: -0.4rem;
  width: 100%;
  height: 100%;
  background-color: #f1f1f1;
  border: solid 0.4rem hsl(175deg, 95%, 55%);
  border-radius: 1rem;
  opacity: 0;
}
body.contrast .basic-button:not([aria-disabled]):hover::after {
  opacity: 1;
}
body.contrast .basic-button[aria-disabled=false]:hover::after {
  opacity: 1;
}
body.contrast .basic-button:not([aria-disabled]):focus::after {
  opacity: 1;
}
body.contrast .basic-button[aria-disabled=false]:focus::after {
  opacity: 1;
}

body.contrast .basic-button-container--on-white-background .basic-button {
  border: solid 0.4rem hsl(0deg, 6%, 10%);
}
body.contrast .basic-button-container--on-white-background .basic-button::after {
  border-color: hsl(0deg, 6%, 10%);
}

body.purple .basic-button {
  background-color: hsl(295deg, 95%, 55%);
}

body.animations .basic-button {
  transition: 200ms ease-in-out;
}
body.animations .basic-button-shadow {
  transition: 100ms ease-in-out;
}
body.animations .basic-button::after {
  transition: 200ms ease-in-out;
}

.cv_skill-container {
  position: relative;
}

.cv_skill {
  position: relative;
  padding: 0.5rem 1rem;
  background-color: hsl(175deg, 50%, 55%);
  border: solid 0.2rem hsl(175deg, 50%, 55%);
  border-radius: 1rem;
  font-weight: bold;
  cursor: pointer;
}

body.contrast .cv_skill {
  border-color: hsl(0deg, 6%, 10%);
}

body:not(.contrast) .cv_skill {
  box-shadow: 0 0 1rem #000;
}
body:not(.contrast) .cv_skill:hover {
  box-shadow: none;
}
body:not(.contrast) .cv_skill:focus {
  box-shadow: none;
}
body:not(.contrast) .cv_skill:active {
  box-shadow: none;
}
body:not(.contrast).purple .cv_skill {
  border-color: hsl(295deg, 50%, 55%);
  background-color: hsl(295deg, 50%, 55%);
}

.radio-group {
  position: relative;
  margin: auto;
  padding: 1rem;
  color: hsl(175deg, 95%, 55%);
  background-color: #f1f1f1;
  border-radius: 1rem;
  border: none;
}

.radio-group::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: -20%;
  left: 0;
  width: 100%;
  height: 120%;
  border-radius: 1rem;
  background-color: transparent;
  transform: scale(0.95, 0.95);
}

.radio-group legend {
  padding: 1rem;
  font-size: 1.8rem;
  background-color: hsl(0deg, 6%, 10%);
  border-radius: 1rem;
  border: solid 0.4rem #f1f1f1;
}

@keyframes onHoverBeforeRadioGroup {
  0% {
    transform: scale(0.9, 0.9);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.9, 0.9);
  }
}
body:not(.contrast) .radio-group {
  text-shadow: 0 0.2rem 0.4rem hsl(175deg, 95%, 55%);
  box-shadow: inset rgba(0, 0, 0, 0.3) 0.5rem 0.5rem 0.5rem;
}
body:not(.contrast) .radio-group::before {
  box-shadow: 0 0 2rem hsl(175deg, 95%, 55%), inset 0 0 2rem hsl(175deg, 95%, 55%);
}
body:not(.contrast).purple .radio-group {
  text-shadow: 0 0.2rem 0.4rem hsl(295deg, 95%, 55%);
}
body:not(.contrast).purple .radio-group::before {
  box-shadow: 0 0 2rem hsl(295deg, 95%, 55%), inset 0 0 2rem hsl(295deg, 95%, 55%);
}

body.purple .radio-group {
  color: hsl(295deg, 95%, 55%);
}

body.animations .radio-group:hover::before {
  animation: onHoverBeforeRadioGroup 2000ms ease-in-out infinite;
}
body.animations .radio-group:focus-within::before {
  animation: onHoverBeforeRadioGroup 2000ms ease-in-out infinite;
}

.carousel {
  margin: auto;
  position: relative;
  width: fit-content;
}

.carousel_pictures-container {
  position: relative;
  z-index: 0;
  display: block;
  width: 400px;
  height: 400px;
  overflow: hidden;
}
.carousel_pictures-container.transition::after {
  content: "";
  position: absolute;
  z-index: 4;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  box-shadow: 0 0 3rem 1.5rem hsl(175deg, 95%, 55%), inset 0 0 3rem 1.5rem hsl(175deg, 95%, 55%);
  transform: translateX(0);
  transform-origin: 0 50%;
  opacity: 0;
}

body.animations .carousel_pictures-container.transition.next::after {
  animation: carouselNextTranslate 600ms ease-in-out;
}
body.animations .carousel_pictures-container.transition.previous::after {
  animation: carouselPreviousTranslate 600ms ease-in-out;
}

body:not(.contrast) .carousel_pictures-container {
  box-shadow: 0 0 0.5rem 0.2rem hsl(175deg, 95%, 55%);
}
body:not(.contrast).purple .carousel_pictures-container {
  box-shadow: 0 0 0.5rem 0.2rem hsl(295deg, 95%, 55%);
}
body:not(.contrast).purple .carousel_pictures-container.transition::after {
  box-shadow: 0 0 3rem 1.5rem hsl(295deg, 95%, 55%), inset 0 0 3rem 1.5rem hsl(295deg, 95%, 55%);
}

body.contrast .carousel_pictures-container {
  border: solid #f1f1f1 0.4rem;
}

@keyframes carouselNextTranslate {
  0% {
    transform: translateX(400px);
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes carouselPreviousTranslate {
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate(400px);
  }
}
.shortcut-setting-container {
  position: relative;
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 1rem;
  background-color: #f1f1f1;
  border-radius: 1rem;
}
.shortcut-setting-container::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  background-color: transparent;
  transform: scale(0.97, 0.9);
}
.shortcut-setting-container label {
  font-weight: bold;
}
.shortcut-setting-container_key-pictures {
  position: absolute;
  right: -6rem;
  height: 5rem;
  width: 5rem;
  border-radius: 0.4rem;
  transform: scale(0);
  animation: keyPictureAppear forwards;
  overflow: hidden;
}
.shortcut-setting-container_key-pictures img {
  width: 100%;
  height: 100%;
}

.shortcut-input-container {
  position: relative;
  display: flex;
  gap: 1rem;
  align-items: center;
}
.shortcut-input-container_input {
  padding: 0.5rem 1rem;
  width: 13rem;
  font-size: 1.6rem;
  text-transform: uppercase;
  color: hsl(175deg, 95%, 55%);
  background: hsl(0deg, 6%, 10%);
  border: none;
  border-radius: 1rem;
}
.shortcut-input-container .input-container {
  position: relative;
}
.shortcut-input-container_tooltip {
  position: absolute;
  z-index: 1;
  top: 110%;
  left: 0;
  padding: 0.5rem;
  font-size: 1.6rem;
  color: #f1f1f1;
  background-color: hsl(0deg, 6%, 10%);
  border: solid hsl(175deg, 95%, 55%) 0.2rem;
  border-radius: 1rem;
}
.shortcut-input-container_success-message {
  position: absolute;
  z-index: 1;
  top: -4rem;
  padding: 0.5rem;
  font-size: 1.6rem;
  color: hsl(120deg, 95%, 55%);
  background-color: hsl(0deg, 6%, 10%);
  border: solid hsl(175deg, 95%, 55%) 0.2rem;
  border-radius: 1rem;
}

@keyframes onHoverBeforeSpinButton {
  0% {
    transform: scale(0.97, 0.9);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.97, 0.9);
  }
}
@keyframes keyPictureAppear {
  to {
    transform: scale(1);
  }
}
body.animations .shortcut-setting-container:hover::before {
  animation: onHoverBeforeSpinButton 2000ms ease-in-out infinite;
}
body.animations .shortcut-setting-container:focus-within::before {
  animation: onHoverBeforeSpinButton 2000ms ease-in-out infinite;
}
body.animations .shortcut-setting-container_key-pictures {
  animation: 200ms ease-in-out keyPictureAppear forwards;
}

body:not(.contrast) .shortcut-setting-container {
  box-shadow: inset rgba(0, 0, 0, 0.3) 0.5rem 0.5rem 0.5rem;
}
body:not(.contrast) .shortcut-setting-container::before {
  box-shadow: 0 0 1rem hsl(175deg, 95%, 55%), inset 0 0 1rem hsl(175deg, 95%, 55%);
}
body:not(.contrast) .shortcut-setting-container_key-pictures {
  box-shadow: 0 0 0.5rem 0.1rem hsl(175deg, 95%, 55%);
}
body:not(.contrast) .shortcut-input-container_input {
  text-shadow: 0 0.2rem 0.4rem hsl(175deg, 95%, 55%);
}
body:not(.contrast).purple .shortcut-input-container_input {
  color: hsl(295deg, 95%, 55%);
  text-shadow: 0 0.2rem 0.4rem hsl(295deg, 95%, 55%);
}
body:not(.contrast).purple .shortcut-input-container_tooltip {
  border: solid hsl(295deg, 95%, 55%) 0.2rem;
}
body:not(.contrast).purple .shortcut-input-container_success-message {
  border: solid hsl(295deg, 95%, 55%) 0.2rem;
}
body:not(.contrast).purple .shortcut-setting-container::before {
  box-shadow: 0 0 1rem hsl(295deg, 95%, 55%), inset 0 0 1rem hsl(295deg, 95%, 55%);
}
body:not(.contrast).purple .shortcut-setting-container_key-pictures {
  box-shadow: 0 0 1rem hsl(295deg, 95%, 55%);
}

.shortcut-modifiers-section h2 {
  margin-bottom: 2rem;
}
.shortcut-modifiers-section_shortcut-modifiers-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
}
.shortcut-modifiers-section > .basic-button-container {
  margin: 2rem auto;
}

.video-container {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.video-title {
  color: hsl(175deg, 85%, 55%);
  font-size: 2rem;
  text-shadow: 0 0.2rem 0.4rem hsl(175deg, 85%, 55%);
}

.video-player {
  position: relative;
  height: 30rem;
  width: 40rem;
  background-color: #000;
  border: solid #fff 0.2rem;
  border-radius: 1rem;
  overflow: hidden;
}

.video-player_transcription {
  width: 100%;
  height: 100%;
  padding: 1rem;
  font-size: 1.6rem;
  color: hsl(175deg, 85%, 55%);
  overflow: auto;
  transform: translateY(-100%);
  transition: 400ms ease-in-out;
}

.video-container.transcription .video-player_transcription {
  transform: translateY(0);
}

.video-player_video {
  width: 100%;
  height: 100%;
  background-color: yellow;
  transform: translateY(0);
  transition: 400ms ease-in-out;
}

.video-container.transcription .video-player_video {
  transform: translateY(0);
}

.video-player_video video {
  width: 100%;
  height: 100%;
}

.video-player_control-bar {
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem;
  width: 100%;
  background-color: #1C1919;
  transform: translateY(100%);
  transition: 400ms ease-in-out;
}
.video-player_control-bar.display {
  transform: translateY(0);
}

.video-container.transcription .video-player_control-bar {
  transform: translateY(100%);
}

.main-play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0.5rem 1rem;
  color: hsl(175deg, 85%, 55%);
  font-size: 4rem;
  text-shadow: 0 0.2rem 0.4rem hsl(175deg, 85%, 55%);
  background-color: transparent;
  /* border: solid 0.4rem hsl(175,85%,55%); */
  border: none;
  border-radius: 50%;
  box-shadow: 0 0 0.5rem 0.4rem hsl(175deg, 85%, 55%), inset 0 0 0.5rem 0.4rem hsl(175deg, 85%, 55%);
  cursor: pointer;
}

.video-player.play .main-play-button, .video-container.transcription .main-play-button {
  animation: mainPlayButtonDisappear 400ms ease-in-out forwards;
}

@keyframes mainPlayButtonDisappear {
  to {
    opacity: 0;
  }
}
.video-player-button {
  position: relative;
  color: hsl(175deg, 85%, 55%);
  font-size: 2rem;
  text-shadow: 0 0.2rem 0.4rem hsl(175deg, 85%, 55%);
  padding: 0.5rem 1rem;
  background-color: #000;
  border: solid 0.2rem #fff;
  border-radius: 50%;
  cursor: pointer;
}

.video-player-button::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  box-shadow: 0 0 1.5rem 0.6rem rgba(0, 0, 0, 0.7);
  transform: scale(0.9);
}

.video-player-button:hover::before {
  animation: onHoverButtonBefore 1s ease-in-out infinite alternate;
}

.video-player-button span {
  display: block;
  transition: 400ms ease-in-out;
}

@keyframes onHoverButtonBefore {
  from {
    transform: scale(0.9);
  }
  to {
    transform: scale(0.95);
  }
}
.time-count {
  position: relative;
  color: hsl(175deg, 85%, 55%);
  font-size: 1.6rem;
  text-shadow: 0 0.2rem 0.4rem hsl(175deg, 85%, 55%);
  padding: 0.5rem 1rem;
  background-color: #000;
  border: solid 0.2rem #fff;
  border-radius: 1rem;
}

.video-player_control-bar_timeline {
  position: relative;
  z-index: 0;
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.time-slider {
  position: relative;
  z-index: -1;
  left: -1.5rem;
  background-color: #000;
  border: solid #fff 0.2rem;
  border-radius: 0 1rem 1rem 0;
  flex-grow: 1;
  padding: 0.5rem 0.5rem 0.5rem 2rem;
  cursor: pointer;
}

.time-slider_thumb {
  position: relative;
  top: 0.2rem;
  display: inline-block;
  height: 1.5rem;
  width: 1.5rem;
  background-color: hsl(175deg, 85%, 55%);
  border-radius: 50%;
  box-shadow: 0 0 0.5rem 0.2rem hsl(175deg, 85%, 55%);
}

.video-player_control-bar_volume {
  position: relative;
  z-index: 0;
}

.volume-slider-container {
  position: absolute;
  z-index: -1;
  bottom: 3rem;
  left: 50%;
  transform: translateX(-50%);
  height: fit-content;
  overflow: hidden;
}

.volume-slider {
  height: 10rem;
  padding: 1rem;
  background-color: #000;
  border: solid #fff 0.2rem;
  transform-origin: 50% 0;
  transform: translateY(100%);
  transition: 200ms 250ms ease-in-out;
  cursor: pointer;
}

.volume-slider_mask {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  border-radius: 1rem 1rem 0 0;
}

.volume-slider_mask span {
  display: inline-block;
  width: 100%;
  height: 0.8rem;
  background-color: #000;
}

.volume-slider_thumb {
  height: 100%;
  width: 0.6rem;
  background-color: hsl(175deg, 85%, 55%);
  box-shadow: 0 0 0.5rem 0.2rem hsl(175deg, 85%, 55%);
}

.video-player_control-bar_volume.active .volume-slider {
  transform: translateY(0);
}

.video-player_control-bar_volume.active .volume-button_icon {
  transform: rotate(90deg);
}

.button-container {
  position: relative;
  z-index: 0;
  transition: 200ms ease-in-out;
}

.video-transcription-button {
  position: relative;
  z-index: 1;
  padding: 1rem;
  font-weight: bold;
  background-color: #fff;
  border: none;
  border-radius: 1rem;
  box-shadow: inset 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.button-shadow {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 1rem;
  box-shadow: 0.5rem 0.5rem 0.5rem #000;
  transition: 200ms ease-in-out;
}

.button-container:hover {
  transform: translate(0.3rem, 0.3rem);
}

.button-container:hover .button-shadow {
  transform: scale(0);
}

.video-container.transcription .video-transcription-button_transcription-text {
  display: none;
}

.video-container:not(.transcription) .video-transcription-button_video-text {
  display: none;
}

.video-player_background {
  height: 100%;
  object-fit: cover;
}

.achievment-section {
  color: hsl(175deg, 95%, 55%);
  background-color: hsl(0deg, 6%, 10%);
}
.achievment-section h2 {
  width: fit-content;
  margin: 2rem auto;
}
.achievment-section .main-link {
  margin: auto;
}
.achievment-section dl {
  padding: 1rem;
  font-size: 1.4rem;
}
.achievment-section dt {
  font-weight: bold;
  margin-bottom: 0.5rem;
}
.achievment-section dd {
  margin: 0 0 2rem 2rem;
}
.achievment-section .basic-button-container {
  margin: 1.5rem auto 3rem auto;
}

@keyframes sectionContentAppear {
  0% {
    opacity: 0;
  }
  30% {
    filter: blur(1rem);
    text-shadow: 0 0.2rem 0.4rem hsl(175deg, 95%, 55%);
  }
  40% {
    filter: blur(0);
  }
  60% {
    filter: blur(0.5rem);
  }
  70% {
    filter: blur(0);
    text-shadow: 0 0.2rem 0.4rem hsl(175deg, 95%, 55%);
  }
  90% {
    filter: brightness(1);
  }
}
@keyframes sectionContentAppearPurple {
  0% {
    opacity: 0;
  }
  30% {
    filter: blur(1rem);
    text-shadow: 0 0.2rem 0.4rem hsl(295deg, 95%, 55%);
  }
  40% {
    filter: blur(0);
  }
  60% {
    filter: blur(0.5rem);
  }
  70% {
    filter: blur(0);
    text-shadow: 0 0.2rem 0.4rem hsl(295deg, 95%, 55%);
  }
  90% {
    filter: brightness(1);
  }
}
body.animations .achievment-section_text-content {
  animation: sectionContentAppear 600ms 800ms ease-in-out backwards;
}

body:not(.contrast) .achievment-section {
  text-shadow: 0 0.2rem 0.4rem hsl(175deg, 95%, 55%);
}
body:not(.contrast).purple .achievment-section {
  color: hsl(295deg, 95%, 55%);
  text-shadow: 0 0.2rem 0.4rem hsl(295deg, 95%, 55%);
}
body:not(.contrast).purple.animations .achievment-section_text-content {
  animation: sectionContentAppearPurple 600ms 800ms ease-in-out backwards;
}

.carousel-full-screen {
  margin: auto;
  width: 90vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.carousel-full-screen_pictures-container {
  width: 70vw;
  height: 85vh;
}
.carousel-full-screen .carousel_picture {
  object-fit: fill;
}
.carousel-full-screen .carousel_button--previous {
  position: relative;
  left: 0;
}
.carousel-full-screen .carousel_button--next {
  position: relative;
  right: 0;
}

@keyframes carouselFullScreenNextTranslate {
  0% {
    transform: translateX(70vw);
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes carouselFullScreenPreviousTranslate {
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate(70vw);
  }
}
body.animations .carousel-full-screen .carousel_pictures-container.transition.next::after {
  animation: carouselFullScreenNextTranslate 600ms ease-in-out;
}
body.animations .carousel-full-screen .carousel_pictures-container.transition.previous::after {
  animation: carouselFullScreenPreviousTranslate 600ms ease-in-out;
}

.full-screen-modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  display: flex;
  padding: 3rem;
}

.cv_section {
  position: relative;
  width: fit-content;
  height: auto;
  margin: 2rem auto;
  padding: 1rem 3rem;
  background-color: #f1f1f1;
  border-radius: 2.5rem;
}
.cv_section::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 2rem;
  background-color: transparent;
  transform: scale(0.97, 0.9);
}
.cv_section h2 {
  width: fit-content;
  height: auto;
  margin: 1rem auto;
  padding: 1rem 2rem;
  background-color: hsl(0deg, 6%, 10%);
  border-radius: 25px;
  box-shadow: 0.4rem 0.4rem 0.4rem 0 rgba(0, 0, 0, 0.3);
  transform: translateY(0);
  animation: titleAppear 400ms ease-in-out;
}
.cv_section_list-container {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
  margin: 0.5rem;
  padding: 1rem;
}
.cv_section_list-container.col {
  flex-direction: column;
}

@keyframes onHoverBeforeSection {
  0% {
    transform: scale(0.97, 0.9);
  }
  50% {
    transform: scale(0.98, 0.95);
  }
  100% {
    transform: scale(0.97, 0.9);
  }
}
body:not(.contrast) .cv_section {
  box-shadow: rgba(0, 0, 0, 0.3) inset 0.5rem 0.5rem 0.5rem;
}
body:not(.contrast) .cv_section::before {
  box-shadow: 0 0 1rem 1rem hsl(175deg, 95%, 55%);
}
body:not(.contrast).purple .cv_section::before {
  box-shadow: 0 0 1rem 1rem hsl(295deg, 95%, 55%);
}

body.animations .cv_section:hover::before {
  animation: onHoverBeforeSection 2000ms ease-in-out infinite;
}
body.animations .cv_section:focus-within::before {
  animation: onHoverBeforeSection 2000ms ease-in-out infinite;
}

.infos-dialog {
  position: absolute;
  z-index: 1;
  height: auto;
  width: auto;
  min-width: 300px;
}
.infos-dialog .basic-button-container--close-button {
  top: 2rem;
  right: 2rem;
}
.infos-dialog_top {
  height: 2rem;
  background-color: #f1f1f1;
  border: solid hsl(175deg, 95%, 55%);
  border-top-width: 0.4rem;
  border-right-width: 0.4rem;
  border-left-width: 0.4rem;
  border-bottom-width: 0;
  border-radius: 2rem 2rem 0 0;
}
.infos-dialog_bottom {
  height: 2rem;
  background-color: #f1f1f1;
  border: solid hsl(175deg, 95%, 55%);
  border-top-width: 0;
  border-right-width: 0.4rem;
  border-left-width: 0.4rem;
  border-bottom-width: 0.4rem;
  border-radius: 0 0 2rem 2rem;
}
.infos-dialog_center {
  background-color: #f1f1f1;
  border: solid hsl(175deg, 95%, 55%);
  border-top-width: 0;
  border-right-width: 0.4rem;
  border-left-width: 0.4rem;
  border-bottom-width: 0;
  overflow: hidden;
  transform-origin: 50% 0;
}
.infos-dialog_content {
  color: hsl(175deg, 95%, 55%);
  opacity: 1;
  transform-origin: 50% 0;
  transform: scaleY(1);
}
.infos-dialog_content-container {
  padding: 1rem;
  margin: 0 1rem;
  background-color: #000;
  border-radius: 1rem;
}
.infos-dialog_content::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  transform-origin: 50% 100%;
  transform: scaleY(0);
  opacity: 0;
}
.infos-dialog_title {
  font-weight: bold;
  margin-bottom: 1rem;
}
.infos-dialog_list {
  margin-top: 0.5rem;
  margin-left: 1.5rem;
}

@keyframes dialogAppear {
  from {
    height: 0;
  }
}
@keyframes dialogContentAppear {
  0% {
    opacity: 0;
  }
  30% {
    filter: blur(10px);
    text-shadow: 0 0.2rem 0.4rem hsl(175deg, 95%, 55%);
  }
  40% {
    filter: blur(0);
  }
  60% {
    filter: blur(5px);
  }
  70% {
    filter: blur(0);
    text-shadow: 0 0.2rem 0.4rem hsl(175deg, 95%, 55%);
  }
  90% {
    filter: brightness(1);
  }
}
@keyframes dialogContentAppearPurple {
  0% {
    opacity: 0;
  }
  30% {
    filter: blur(10px);
    text-shadow: 0 0.2rem 0.4rem hsl(295deg, 95%, 55%);
  }
  40% {
    filter: blur(0);
  }
  60% {
    filter: blur(5px);
  }
  70% {
    filter: blur(0);
    text-shadow: 0 0.2rem 0.4rem hsl(295deg, 95%, 55%);
  }
  90% {
    filter: brightness(1);
  }
}
@keyframes dialogContentProgress {
  from {
    opacity: 1;
    transform: scaleY(1);
  }
}
@keyframes dialogCloseButtonAppear {
  from {
    opacity: 0;
  }
}
body.animations .basic-button-container--close-button {
  animation: dialogCloseButtonAppear 200ms 600ms ease-in-out backwards;
}
body.animations .infos-dialog_center {
  animation: dialogAppear 300ms 100ms ease-in-out backwards;
}
body.animations .infos-dialog_content {
  animation: dialogContentAppear 300ms 300ms ease-in-out backwards;
}
body.animations .infos-dialog_content::after {
  animation: dialogContentProgress 1s 300ms backwards;
}
body.animations.purple_content {
  animation: dialogContentAppearPurple 300ms 300ms ease-in-out backwards;
}

body:not(.contrast) .infos-dialog_top {
  box-shadow: rgba(0, 0, 0, 0.3) inset 0 0.5rem 0.5rem;
}
body:not(.contrast).purple .infos-dialog_top {
  border-color: hsl(295deg, 95%, 55%);
}
body:not(.contrast).purple .infos-dialog_center {
  border-color: hsl(295deg, 95%, 55%);
}
body:not(.contrast).purple .infos-dialog_bottom {
  border-color: hsl(295deg, 95%, 55%);
}
body:not(.contrast).purple .infos-dialog_content {
  color: hsl(295deg, 95%, 55%);
}

.components-layout {
  position: relative;
  z-index: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  min-height: 100vh;
  padding: 20px;
  background-color: hsl(0deg, 6%, 10%);
}
.components-layout_animation-toggle-buttons-container {
  display: flex;
  justify-content: space-evenly;
}
.components-layout_buttons-container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.components-layout_paragraphs {
  padding: 20px;
  background-color: white;
  color: #000;
}
.components-layout_pictures {
  width: 90%;
}

.white-background {
  padding: 20px;
  background-color: #f1f1f1;
}

/*# sourceMappingURL=style.css.map */
