* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
}
body {
    // display: flex;
    // flex-grow: 1;
    min-height: 100vh;
    font-size: 1.4rem;
    font-family: "Oswald", sans-serif;
    color: map-get($colors,blue);
    background-color: map-get($colors,dark);
}

body {
    &.has-modal {
        overflow: hidden;
    }
    &.open-dyslexic {
        @font-face {
            font-family: 'openDyslexic';
            src: url('../../fonts/OpenDyslexic-Regular.otf') format('opentype');
        }
        button, input, textarea {
            @font-face {
                font-family: 'openDyslexic';
                src: url('../../fonts/OpenDyslexic-Regular.otf') format('opentype');
            }
        }
    }
    &.paragraph-height p {
        margin-bottom: calc(2*1.4rem);
    }
    &.line-height {
        line-height: calc(1.5*1.4rem);
        & h2 {
            line-height: calc(1.5*1.6rem);
        }
        & .achievment-section h2 {
            line-height: calc(1.5*2rem);
        }
    }
    &.word-spacing {
        word-spacing: calc(0.16*1.4rem);
        & button, input, textarea {
            word-spacing: calc(0.16*1.4rem);
        }
        & .main-link {
            word-spacing: calc(0.16*1.8rem);
        }
        & .main-title {
            word-spacing: calc(0.16*2rem);
        }
        & .loader {
            word-spacing: calc(0.16*2.4rem);
        }
        & h2 {
            word-spacing: calc(0.16*1.6rem);
        }
        & .achievment-section h2 {
            word-spacing: calc(0.16*2rem);
        }
        & dl {
            word-spacing: calc(0.16*1.4rem);
        }
    }
    &.letter-spacing {
        letter-spacing: calc(0.12*1.4rem);
        & button, input, textarea {
            word-spacing: calc(0.12*1.4rem);
        }
        & .language-select {
            letter-spacing: calc(0.12*1.6rem);
        }
        & .spin-button_input {
            letter-spacing: calc(0.12*1.6rem);
        }
        & .main-link {
            letter-spacing: calc(0.12*1.8rem);
        }
        & .main-title {
            letter-spacing: calc(0.12*2rem);
        }
        & .loader {
            letter-spacing: calc(0.12*2.4rem);
        }
        & h2 {
            letter-spacing: calc(0.12*1.6rem);
        }
        & .achievment-section h2 {
            letter-spacing: calc(0.12*2rem);
        }
        & dl {
            letter-spacing: calc(0.12*1.4rem);
        }
    }
    &:not(.contrast) {
        // text-shadow: 0 0.2rem 0.4rem map-get($colors,blue);
        background: radial-gradient(ellipse 50% 80%, map-get($colors,dark) 80%,map-get($colors,blue));
        background-size: 100% 100%;
        background-position: 50% 50%;
        &.animations {
            animation: backgroundMovement 15s ease-in-out infinite alternate;
        }
        & h2 {
            text-shadow: 0 0.2rem 0.4rem map-get($colors,blue);
        }
    }
    &:not(.contrast).purple {
        background: radial-gradient(ellipse 50% 80%, map-get($colors,dark) 80%,map-get($colors,purple));
        color: map-get($colors,purple);
        text-shadow: 0 0.2rem 0.4rem map-get($colors,purple);
        & h2 {
            color: map-get($colors,purple);
            text-shadow: 0 0.2rem 0.4rem map-get($colors,purple);
        }
        & a:visited {
            color: map-get($colors,purple);
        }
    }
}

@keyframes backgroundMovement {
    to {
        background-size: 150% 150%;
        background-position: 50% 50%;
    }
}
#root {
    min-height: 100vh;
}

header { 
    margin-bottom: 4rem;
}
main {
    position: relative;
    margin: 12rem auto 1rem;
    padding: 2rem;
    max-width: 90%;
    border: solid 1rem map-get($colors,white);
    border-radius: 40px;
}
main:not(.cv) { /*temporary*/
    background-color: map-get($colors,darkBackground);
}
h1 {
    font-size: 1.8rem;
}
h2 {
    margin: 1rem 0;
    font-size: 1.6rem;
    color: map-get($colors,blue);
}
a, a:visited {
    text-decoration: none;
    color: map-get($colors,blue);
}
ul:not(.achievments_list):not(.infos-dialog_list) {
    list-style: none;
}
button, input, textarea {
    font-size: 1.4rem;
    font-family: "Oswald", sans-serif;
}
label:not(.radio-button_label) {
    color: map-get($colors,darkBackground);
    text-shadow: none;
}


