* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
}
body {
    min-height: 100vh;
    font-size: 1.4rem;
    font-family: "Oswald", sans-serif;
}
body {
    &.open-dyslexic {
        @font-face {
            font-family: 'openDyslexic';
            src: url('../../fonts/OpenDyslexic-Regular.otf') format('opentype');
        }
        button, input, textarea {
            @font-face {
                font-family: 'openDyslexic';
                src: url('../../fonts/OpenDyslexic-Regular.otf') format('opentype');
            }
        }
    }
    &.paragraph-height p {
        margin-bottom: calc(2*1.4rem);
    }
    &.line-height {
        line-height: calc(1.5*1.4rem);
    }
    &.word-spacing {
        word-spacing: calc(0.16*1.4rem);
        & button, input, textarea {
            word-spacing: calc(0.16*1.4rem);
        }
        & .main-link {
            word-spacing: calc(0.16*1.8rem);
        }
        & .main-title {
            word-spacing: calc(0.16*2rem);
        }
    }
    &.letter-spacing {
        letter-spacing: calc(0.12*1.4rem);
        & button, input, textarea {
            word-spacing: calc(0.12*1.4rem);
        }
        & .language-select {
            letter-spacing: calc(0.12*1.6rem);
        }
        & .spin-button_input {
            letter-spacing: calc(0.12*1.6rem);
        }
        & .main-link {
            letter-spacing: calc(0.12*1.8rem);
        }
        & .main-title {
            letter-spacing: calc(0.12*2rem);
        }
    }
}
#root {
    min-height: 100vh;
}
a, a:visited {
    text-decoration: none;
}
ul {
    list-style: none;
}
button, input, textarea {
    font-size: 1.4rem;
    font-family: "Oswald", sans-serif;
}


